<section
  class="jumbotron text-center"
  style="margin-top: 35px;background-image:url('../../assets/image/16.jpg'); background-repeat:no-repeat;background-size: 100%;  color: white "
>
  <div class="container">
    <h1 class="jumbotron-heading">White Paper</h1>
    <hr class="outline" />
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="aa">The App Approach – How To Do It Best!</h1>
        <hr />
        <p>
          One of our clients, a trade association of electric power industry in
          the U.S.<br />
          wanted an app for better personalization and smooth information
          delivery <br />
          within their employees and business associates to integrate their
          processes further...<br />
          The organized meetings and events could be viewed on Google Maps which
          helped the client…<br />
          ...Read More
        </p>

        <h1 class="aa">
          A strategic digital approach to accreditation enablement
        </h1>
        <hr />
        <p>
          Accreditation is a very complex process which involves submission
          of<br />
          application fees, documentation and a thorough assessment by technical
          <br />
          and subject matter experts of the Accredited Certification Bodies also
          called<br />
          as the Accredited Agencies. When done manually, this process is very
          time<br />
          consuming and effort intensive. At InfoBeans we are… ...Read More
        </p>

        <h1 class="aa">Did you do your application UI/UX revamp all wrong?</h1>
        <hr />
        <p>
          One of our clients, who is a leading provider of enterprise solutions
          to life<br />
          sciences companies, reached out to us to redesign the UI and UX for
          an<br />
          enterprise product. This product was directed towards life sciences
          <br />
          companies and was designed to help them track expenses incurred for<br />
          healthcare and… ...Read More
        </p>

        <h1 class="aa">Fast-tracking the app economy with ServiceNow apps</h1>
        <hr />
        <p>
          ServiceNow apps that we developed were created with two things in mind
          – one,<br />
          that they have to simple, intuitive and user-friendly interface so
          that the non-technical <br />
          business user can leverage and benefit from it and two, that we give
          organizations a path to <br />
          respond to market needs swiftly by… ...Read More
        </p>
        <h1 class="aa">Business Transformation with ServiceNow</h1>
        <hr />
        <p>
          Every business is either digitally transformed, in transition or
          planning <br />
          to transform. We cannot ignore the power of ServiceNow, a leading
          Service <br />
          Management Platform, that is being used by thousands of global
          enterprises<br />
          worldwide as a platform of their choice for their digital
          transformation <br />
          initiatives. Well planned and well executed… ...Read More
        </p>

        <h1 class="aa">
          The Business Value of Cloud – Agility, Innovation, Cost Optimization
        </h1>
        <hr />
        <p>
          While the overall software market is growing at around 6% per annum,
          <br />
          as per IDC, for Cloud, the growth rate is 20% per annum. Most of the
          <br />
          enterprise are adopting the cloud-first approach. In this crisp guide
          by <br />
          InfoBeans, we try to provide an overview on the real business value…
          <br />
          ...Read More
        </p>

        <h1 class="aa">
          <b>The Why and How of Digital Transformation for SDOs.</b>
        </h1>
        <hr />
        <p>
          With an increased focus on digitization across all industries, the
          age-old <br />
          SDO industry is also focusing on riding on the digital wave. However,
          <br />
          the digitization initiatives of SDOs are extremely complex and involve
          several <br />
          activities such as conversion of legacy codes and standards, content
          delivery <br />
          and management, digital selling, online… ...Read More
        </p>

        <h1 class="aa"><b>The Hidden Power of ServiceNow Apps</b></h1>
        <hr />
        <p>
          ServiceNow is an extremely flexible, highly configurable and scalable
          cloud <br />
          application platform which allows users its users to achieve a lot
          more through<br />
          platform apart from standard features. ...Read More
        </p>
        <h1 class="aa"><b>We make storage provisioning easy</b></h1>
        <hr />
        <p>
          Storage provisioning is the process or mechanism to allocate and
          assign <br />
          server storage space within a networked computing environment to
          optimize<br />
          the performance of storage network. ...Read More
        </p>

        <h1 class="aa"><b>Your Comprehensive DevOps guide</b></h1>
        <hr />
        <p>
          While the DevOps adoption and practices have matured and DevOps is
          set<br />
          to become a standard way of working, there is still some confusion in
          the minds<br />
          of enterprises as to what exactly is DevOps and how to make it a
          success. <br />
          ...Read More
        </p>

        <h1 class="aa">
          <b>Delivering True Business Impact with Test Automation.</b>
        </h1>
        <hr />
        <p>
          Conventional testing is dead. At the same time, the demand for
          higher<br />
          quality products is ever increasing. Digital technologies are
          fundamentally<br />
          transforming businesses and the expectations of digitally empowered
          consumers.<br />
          ...Read More
        </p>
      </div>

      <div class="col-sm-4">
        <div class="container">
          <form class="para jumbotron">
            <h1 class="pp">Experience WOW!</h1>
            <p class="qq">Get in touch with us.</p>
            <label for="fname">Full Name</label><br />
            <input type="text" name="fname" placeholder="" /><br />
            <label for="email">Email*</label><br />
            <input type="email" name="email" placeholder="" /><br />
            <label for="number">Phone Number</label><br />
            <input type="number" name="num" placeholder="" /><br />
            <label for="company">Company</label><br />
            <input type="company" name="company" placeholder="" /><br />
            <label for="captcha">Captcha*</label><br />
            <input type="captcha" name="captch" placeholder="" /><br />
            <button type="button" class=" b btn btn-danger mt-3 text-center">
              DOWNLOAD WHITE PAPER
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- footer -->
<footer class="text-light">
    <div class="container">
        <div class="row vdivide">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>BLOGS</h5>
            
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p><br>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p>
           <hr class="mx-auto">
            <div class="row">
             
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Edunomics Tech Solution</h5>
            <p style="margin: 0%">contact@edunomics.in</p>
            </div>
            <hr>
            <div class="row">
            
            <p>BUSINESS HOURS <br>24*7</p>
            </div>
          </div>
          
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto">
                <h5>SERVICES</h5>
               
                <ul class="list-unstyled">
                    <li><a href="">- Custom Software Development</a></li>
                    <li><a href="">- Mobile Software Development</a></li>
                    <li><a href="">- Software Prototyping</a></li>
                    <li><a href="">- Dedicated Development Teams</a></li>
                    <li><a href="">- Software Maintenance Program</a></li>
                    <li><a href="">- Software Product Development</a></li>
                    <li><a href="">- Quality Assurance</a></li>
                    <li><a href="">- Legacy Software Migration</a></li>
                    <li><a href="">- DevOps Automation</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>SOLUTIONS</h5>
          
                <ul class="list-unstyled">
                    <li><a href="">DMS</a></li>
                    <li><a href="">SMS</a></li>
                    <li><a href="">CMS</a></li>
                    <li><a href="">IOT</a></li>
                    <li><a href="">Mobile</a></li>
                    <li><a href="">Web Applications</a></li>
                    <li><a href="">Cost Finder</a></li>
                    <li><a href="">Tracking</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="">- Career</a></li>
                    <li><a href="">- Affiliate Program</a></li>
                    <li><a href="">- About Us</a></li>
                    <li><a href="">- How we work</a></li>
                    <li><a href="">- Startups</a></li>
                    <li><a href="">- Resources</a></li>
                    <li><a href="">- Contact Us</a></li>
                   
                </ul>
            </div>
            
            <div class="col-md-2 col-lg-2 col-xl-2 ">
                <h5>INDUSTRY</h5>
        
                <ul class="list-unstyled">
                    <li><a href="">Education</a></li>
                    <li><a href="">Retail & Wholesale</a></li>
                    <li><a href="">Construction</a></li>
                    <li><a href="">Transpotation</a></li>
                </ul>
              </div>
        </div>
      </div>
        <!-- Footer Links -->
  
      <hr>
  
      <!-- Social buttons -->
      <div class="row">
          <div class="col-sm-6">
            <p class="edu">2019 : Edunomics</p>
          </div>
         <div class="col-sm-6">
                       <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="fb" mdbWavesEffect>
            <mdb-icon fab icon="facebook"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="tw" mdbWavesEffect>
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="gplus"  mdbWavesEffect>
            <mdb-icon fab fab icon="google-plus"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="li" mdbWavesEffect>
            <mdb-icon fab icon="linkedin"></mdb-icon>
          </a>
        </li>
      </ul>
    </div>

    </div>
  
      <!-- Social buttons -->
  
      <!-- Copyright -->
      <hr>
      <div class="navbar navbar-expand-md navbar-fixed-bottom">
              <ul class="navbar-nav ml-auto mt-2 mt-lg-0" >
          <li class="nav-item">
            <a class="nav-link" href="/about">Solution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Services</a>
          </li>
          <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" routerLink="/#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Company</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownId">
                      <a class="dropdown-item" routerLink="/blog">About Us</a>
                      <a class="dropdown-item" routerLink="/whitepaper">Our Team</a>
                  </div>
              </li>
           <li class="nav-item">
                  <a class="nav-link" href="/contact">Resources</a>
                </li>
                <li class="nav-item">
                      <a class="nav-link" href="/contact">Contact</a>
                    </li>
  
        </ul>
     
      </div>
      <!-- Copyright -->
   
</footer>

