
  
  <div class=" con" style="margin-top:35px;">
    <div class="view w-100 ">
      <img src="../../assets/image/about us.jpg" alt="Snow" style="width:100%;">
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="centered">
     <h2><b>  We Make Cutting-Edge Web and Mobile Solutions</b></h2>
     <hr class="outline">
     <p>Since 2012, SumatoSoft has delivered software solutions that really work for clients, making their business easier and more profitable. Our values help us to provide the best services in the field.</p>
     
    </div>
  </div>
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-sm-4">
        <mdb-card>
         
          <!--Card content-->
          <mdb-card-body>
        
            <div class="row">
              <div class="col-sm-5">
                <mdb-icon far icon="gem" class="fa-2x grey-text pr-3"  ></mdb-icon>
              </div>
              <div class="col-sm-7">
               <h2><b>98 %</b></h2>
                  <p>Satisfaction rate</p>
              </div>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-sm-4">
        <mdb-card>
         
          <!--Card content-->
          <mdb-card-body>
          <div class="row">
            <div class="col-sm-5">
              <mdb-icon fas icon="rocket" class="fa-2x grey-text pr-3"></mdb-icon>
            </div>
            <div class="col-sm-7">
           <h2><b>100 %</b></h2>
                <p>Successful projects</p>
            </div>
          </div>
        
          
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-sm-4">
        <mdb-card>
         
          <!--Card content-->
          <mdb-card-body>
            <div class="row">
              <div class="col-sm-5">
                <mdb-icon fas icon="globe-americas" class="fa-2x grey-text pr-3"></mdb-icon>
              </div>
              <div class="col-sm-7">
               <h2><b>25</b></h2>
                  <p>Countries</p>
              </div>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-sm-4">
        <mdb-card>
         
          <!--Card content-->
          <mdb-card-body>
        
            <div class="row">
              <div class="col-sm-5">
                <mdb-icon fas icon="brain" class="fa-2x grey-text pr-3"></mdb-icon>
              </div>
              <div class="col-sm-7">
              <h2><b>
                70%</b></h2>
                  <p>Senior engineers</p>
              </div>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-sm-4">
        <mdb-card>
         
          <!--Card content-->
          <mdb-card-body>
        
            <div class="row">
              <div class="col-sm-5">
                <mdb-icon fas icon="users" class="fa-2x grey-text pr-3"></mdb-icon>
              </div>
              <div class="col-sm-7">
                <h2><b>
                  80+</b></h2>
                  <p>Team members</p>
              </div>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-sm-4">
        <mdb-card>
         
          <!--Card content-->
          <mdb-card-body>
        
            <div class="row">
              <div class="col-sm-5">
                <mdb-icon far icon="hand-point-right" class="fa-2x grey-text pr-3"></mdb-icon>
              </div>
              <div class="col-sm-7">
              <h2><b>
                7 Years</b></h2>
                <p>
                    On the market</p>
              </div>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
  <hr>

  <div class="container text-center pt-5">
     <!--Section heading-->
   <h2 class="h2 font-weight-bold">Our Advantages
  </h2>
   <hr class="outline1">
  
  </div>
  <div class="container text-center pt-5 pb-5">
    <div class="row">
      <div class="col-sm-4">
        <mdb-icon fas icon="cogs" class="fa-2x blue-text pr-3 pb-3"></mdb-icon>
        <p style="font-size: 20px "><b>Technical partners</b></p>
        <p>We rely to specific business needs of our clients and support them throughout the whole way: from an idea to its implementation.</p>
      </div>
      <div class="col-sm-4">
        <mdb-icon fas icon="redo"  class="fa-2x blue-text pr-3 pb-3"></mdb-icon>
        <p style="font-size: 20px "><b>Agile approach</b></p>
        <p>We follow best PM practices & processes like Agile methodology using Scrum and Kanban that allow us complete projects on time and budget.</p>
      </div>
      <div class="col-sm-4">
        <mdb-icon fas icon="user-shield"  class="fa-2x blue-text pr-3 pb-3"></mdb-icon>
        <p style="font-size: 20px "><b>Secure and quality</b></p>
        <p>Our Senior Developers and CTO always participate in the Code Review process regardless of the project size to ensure code quality.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
          <mdb-icon fas icon="search"  class="fa-2x blue-text pr-3 pb-3"></mdb-icon>
          <p style="font-size: 20px "><b>Full transparency</b></p>
          <p>We use Jira and Confluence as the main project management systems, providing our clients with the у possibility to track the development online in real time 24/7 without any hidden work and payments.</p>
      </div>
      <div class="col-sm-4">
          <mdb-icon fas icon="users"  class="fa-2x blue-text pr-3 pb-3"></mdb-icon>
          <p style="font-size: 20px "><b>Easy communication and personal assistance</b></p>
          <p>Constant contact with project managers and full transparency help to quickly resolve emerging issues and make decisions.</p>
      </div>
      <div class="col-sm-4">
          <mdb-icon far icon="envelope-open"  class="fa-2x blue-text pr-3 pb-3"></mdb-icon>
          <p style="font-size: 20px "><b>Post-release support</b></p>
          <p>After the project is completed, we help develop it further and are always ready to provide assistance. We promptly respond to any questions from, and provide comprehensive support to, our customers.</p>
      </div>
    </div>
  </div>
  <div class="jumbotron" style="background-color: #0071B3;color: white">
    <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <p style="font-size: 30px"><b>About us</b></p>
            <hr>
            <p>
                With deep understanding of modern technology and strong expertise in multiple business domains, we implement comprehensive projects and deliver high-end web, mobile and IoT solutions.</p>
                <p>We develop custom software products tailored to specific business needs of our clients and support them throughout the whole way: from an idea to its implementation.</p>
            <p>Our solid background, flexibility and full transparency enabled us to become a trusted technological partner for our clients. SumatoSoft is synonymous with top quality and high-end products & services.</p>
                </div>
                <div class="col-sm-3 " style="color: black">
                    <mdb-card >
                   
                        <!--Card content-->
                        <mdb-card-body>
                      <p>Business Development Office</p>
                       <p>One Boston Place, Suite 2602
                          Boston, MA 02108,
                          United States</p>
                         
                        </mdb-card-body>
                      </mdb-card>
                </div>
                <div class="col-sm-3" style="color: black">
                    <mdb-card>
                   
                        <!--Card content-->
                        <mdb-card-body>
                            <p>Delivery Office</p>
                            <p>9 P. Mstislavtsa str, Floor 7
                                Minsk, 220114,
                                Belarus</p>
                        </mdb-card-body>
                      </mdb-card>
                </div>
              </div>
          <div class="row pt-5">
            <div class="col-sm-4">
              <img src="../../assets/image/about2.jpg" alt="">
            </div>
            <div class="col-sm-4">
              <img src="../../assets/image/about 1.jpg" alt="">
            </div>
            <div class="col-sm-4">
              <img src="../../assets/image/about3.jpg" alt="">
            </div>
          </div>
    </div>
  </div>

  <div class="container pt-5">
    <!-- Section: Team v.1 -->
<section class="team-section text-center my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Management Team</h2>
    <!-- Section description -->
    <p class="grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Fugit, error
      amet numquam iure provident voluptate esse quasi,
      veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.</p>
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle z-depth-1"
            alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Anna Williams</h5>
        <p class="text-uppercase blue-text">
          <strong>Graphic designer</strong>
        </p>
        <p class="grey-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
          adipisci sed
          quia non numquam modi
          tempora eius.</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic">
            <mdb-icon fab icon="facebook-f" class="blue-text"> </mdb-icon>
          </a>
          <!-- Twitter -->
          <a class="p-2 fa-lg tw-ic">
            <mdb-icon fab icon="twitter" class="blue-text"> </mdb-icon>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic">
            <mdb-icon fab icon="instagram" class="blue-text"> </mdb-icon>
          </a>
        </ul>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle z-depth-1"
            alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">John Doe</h5>
        <p class="text-uppercase blue-text">
          <strong>Web developer</strong>
        </p>
        <p class="grey-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem ipsa accusantium
          doloremque
          rem laudantium totam
          aperiam.</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic">
            <mdb-icon fab icon="facebook-f" class="blue-text"> </mdb-icon>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic">
            <mdb-icon fab icon="instagram" class="blue-text"> </mdb-icon>
          </a>
        </ul>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle z-depth-1"
            alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Maria Smith</h5>
        <p class="text-uppercase blue-text">
          <strong>Photographer</strong>
        </p>
        <p class="grey-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit
          anim est fugiat nulla
          id eu laborum.</p>
        <ul class="list-unstyled mb-0">
          <a class="p-2 fa-lg fb-ic">
            <mdb-icon fab icon="facebook-f" class="blue-text"> </mdb-icon>
          </a>
          <!-- Twitter -->
          <a class="p-2 fa-lg ins-ic">
            <mdb-icon fab icon="dribbble" class="blue-text"> </mdb-icon>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic">
            <mdb-icon fab icon="instagram" class="blue-text"> </mdb-icon>
          </a>
        </ul>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6">
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle z-depth-1"
            alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Tom Adams</h5>
        <p class="text-uppercase blue-text">
          <strong>Backend developer</strong>
        </p>
        <p class="grey-text">Perspiciatis repellendus ad odit consequuntur, eveniet earum nisi qui consectetur
          totam
          officia voluptates perferendis
          voluptatibus aut.</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic">
            <mdb-icon fab icon="facebook-f" class="blue-text"> </mdb-icon>
          </a>
          <!-- Github -->
          <a class="p-2 fa-lg ins-ic">
            <mdb-icon fab icon="github" class="blue-text"> </mdb-icon>
          </a>
        </ul>
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Team v.1 -->
  </div>
  <!-- Footer -->
  <footer class="page-footer font-small stylish-color-dark pt-4">
  
      <!-- Footer Links -->
      <div class="container text-center text-md-left">
  
        <!-- Grid row -->
        <div class="row">
  
          <!-- Grid column -->
          <div class="col-md-4 mx-auto">
  
            <!-- Content -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Edunomics Tech Solution</h5>
            <p style="margin: 0%">USA:+1 (720)­­­ 207 0369</p>
            <p >UK:­+44 (0) 203 687 2280</p><br>
            <p style="margin: 0%">contact@iflexion.com</p><br>
            <p>3900 S. Wadsworth Blvd., Denver, <br>CO 80235</p>
          </div>
          <!-- Grid column -->
  
          <hr class="clearfix w-100 d-md-none">
  
          <!-- Grid column -->
          <div class="col-md-2 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Blogs</h5>
  
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p><br>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p>
  
  
          </div>
          <!-- Grid column -->
  
          <hr class="clearfix w-100 d-md-none">
  
          <!-- Grid column -->
          <div class="col-md-2 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Quick Links</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!">Startups</a>
              </li>
              <li>
                <a href="#!">Solution Services</a>
              </li>
              <li>
                <a href="#!">Affiliate Programme</a>
              </li>
              <li>
                <a href="#!">Career</a>
              </li>
              <li>
                  <a href="#!">Contact Us</a>
                </li>
            </ul>
  
          </div>
          <!-- Grid column -->
  
          <hr class="clearfix w-100 d-md-none">
  
          <!-- Grid column -->
          <div class="col-md-2 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Support</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!">FAQ</a>
              </li>
              <li>
                <a href="#!">Terms & Condition</a>
              </li>
              <li>
                <a href="#!">Privacy Policy</a>
              </li>
              <li>
                <a href="#!">NDA</a>
              </li>
            </ul>
  
          </div>
          
           <div class="col-md-2 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About Us</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, nesciunt aliquam aspernatur aut ea soluta harum doloremque eius 
                  dolorem, debitis, vel accusantium. Soluta, dicta voluptatum accusamus nisi odio mollitia perspiciatis.
                </p>
           
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
  
      </div>
      <!-- Footer Links -->
  
      <hr>
  
      <!-- Call to action -->
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1"><b>We're Hiring</b></h5>
        </li>
        <li class="list-inline-item">
          <a href="#!" mdbBtn color="danger" rounded="true" mdbWavesEffect>Submit Your Resume</a>
        </li>
      </ul>
      <!-- Call to action -->
  
      <hr>
  
      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="fb" class="mx-1" mdbWavesEffect>
            <mdb-icon fab icon="facebook"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="tw" class="mx-1" mdbWavesEffect>
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="gplus" class="mx-1" mdbWavesEffect>
            <mdb-icon fab fab icon="google-plus"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="li" class="mx-1" mdbWavesEffect>
            <mdb-icon fab icon="linkedin"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="dribbble" class="mx-1" mdbWavesEffect>
            <mdb-icon fab icon="dribbble"></mdb-icon>
          </a>
        </li>
      </ul>
      <!-- Social buttons -->
  
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
  
    </footer>
    <!-- Footer -->
