<hr><hr><hr>
<div class="img image-center">
<img src="https://media.licdn.com/dms/image/C510BAQH_ZMV3QFFUHg/company-logo_200_200/0?e=2159024400&v=beta&t=Gbm5rSwm-9M8_LrYBM2qgNoy7qvSvwMRylRssnsMIUU" alt="Paris" class="img" style="width:10%;">
  <div class="container text-center">
    <!--Section heading-->
  <h2 class="h2 font-weight-bold">EDUNOMICS</h2>
  </div>
  </div>
  <hr><br><br>
  
  <!-- about us -->
  <div class="container text-center">
  <h2 class="h2 font-weight-bold">About Us</h2>
  <hr class="outline">
    <p>Let’s face it. Most people hate the software they use at work.</p>
    <p>Business software is clunky, expensive, hard to setup and frustrating to use. Countless hours are wasted trying to customize these solutions and they often require expensive professional services to get everything to work. In the end, the solution becomes so complex that businesses need to hire full-time employees to babysit the software.</p>
    <p>At Freshworks, we believe your business deserves better software - software that’s ready to go, easy to setup and use, and requires minimal customization. All of our products live up to this promise and are backed by our world-class support. And the best part is, you don’t have to break the bank to get them working.</p>
    <p>Today, over 150,000 companies trust our software to run their business. We believe it’s just the beginning...</p>
    </div>
  <hr><br><br>

  <!-- timeline -->
  <section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="https://codyhouse.co/demo/vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
			
				<p>A bad customer experience due to a broken TV sparks off the idea for Freshdesk.</p>
				<span class="cd-date">Jan 14</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="https://codyhouse.co/demo/vertical-timeline/img/cd-icon-movie.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<p>Freshdesk is officially born. Girish and Shan start working on the first prototype of the product.</p>
				<span class="cd-date">Jan 18</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="https://codyhouse.co/demo/vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<p>Freshdesk is launched publicly and four days later, we sign our first customer - Atwell College, Australia.</p>
				<span class="cd-date">Jan 24</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="https://codyhouse.co/demo/vertical-timeline/img/cd-icon-location.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<p>Freshdesk wins $40,000 at the Microsoft BizSpark Startup challenge.</p>
				<span class="cd-date">Feb 14</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="https://codyhouse.co/demo/vertical-timeline/img/cd-icon-location.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<p>Freshdesk raises its first round of funding worth $1 million from Accel Partners.</p>
				<span class="cd-date">Feb 18</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="https://codyhouse.co/demo/vertical-timeline/img/cd-icon-movie.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<p>Freshdesk becomes Tiger Global's first investment in the SaaS space, and raises its second round of funding worth $5 million from both Tiger Global and existing investors, Accel Partners.</p>
				<span class="cd-date">Feb 26</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
	</section> <!-- cd-timeline -->
  
  <div class="container text-center pt-5">
     <!--Section heading-->
   <h2 class="h2 font-weight-bold">Our Advantages</h2>
   <hr class="outline1">
  
  </div>
  <div class="container text-center pt-5 pb-5">
    <div class="row">
      <div class="col-sm-4">
        <mdb-icon fas icon="cogs" class="fa-2x blue-text pr-3 pb-3"></mdb-icon>
        <p style="font-size: 20px "><b>Technical partners</b></p>
        <p>We rely to specific business needs of our clients and support them throughout the whole way: from an idea to its implementation.</p>
      </div>
      <div class="col-sm-4">
        <mdb-icon fas icon="redo"  class="fa-2x blue-text pr-3 pb-3"></mdb-icon>
        <p style="font-size: 20px "><b>Agile approach</b></p>
        <p>We follow best PM practices & processes like Agile methodology using Scrum and Kanban that allow us complete projects on time and budget.</p>
      </div>
      <div class="col-sm-4">
        <mdb-icon fas icon="user-shield"  class="fa-2x blue-text pr-3 pb-3"></mdb-icon>
        <p style="font-size: 20px "><b>Secure and quality</b></p>
        <p>Our Senior Developers and CTO always participate in the Code Review process regardless of the project size to ensure code quality.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
          <mdb-icon fas icon="search"  class="fa-2x blue-text pr-3 pb-3"></mdb-icon>
          <p style="font-size: 20px "><b>Full transparency</b></p>
          <p>We use Jira and Confluence as the main project management systems, providing our clients with the у possibility to track the development online in real time 24/7 without any hidden work and payments.</p>
      </div>
      <div class="col-sm-4">
          <mdb-icon fas icon="users"  class="fa-2x blue-text pr-3 pb-3"></mdb-icon>
          <p style="font-size: 20px "><b>Easy communication and personal assistance</b></p>
          <p>Constant contact with project managers and full transparency help to quickly resolve emerging issues and make decisions.</p>
      </div>
      <div class="col-sm-4">
          <mdb-icon far icon="envelope-open"  class="fa-2x blue-text pr-3 pb-3"></mdb-icon>
          <p style="font-size: 20px "><b>Post-release support</b></p>
          <p>After the project is completed, we help develop it further and are always ready to provide assistance. We promptly respond to any questions from, and provide comprehensive support to, our customers.</p>
      </div>
    </div>
  </div>
  <!-- footer -->
 <footer class="text-light">
    <div class="container">
        <div class="row vdivide">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>BLOGS</h5>
            
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p><br>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p>
           <hr class="mx-auto">
            <div class="row">
             
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Edunomics Tech Solution</h5>
            <p style="margin: 0%">contact@edunomics.in</p>
            </div>
            <hr>
            <div class="row">
            
            <p>BUSINESS HOURS <br>24*7</p>
            </div>
          </div>
          
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto">
                <h5>SERVICES</h5>
               
                <ul class="list-unstyled">
                    <li><a href="">- Custom Software Development</a></li>
                    <li><a href="">- Mobile Software Development</a></li>
                    <li><a href="">- Software Prototyping</a></li>
                    <li><a href="">- Dedicated Development Teams</a></li>
                    <li><a href="">- Software Maintenance Program</a></li>
                    <li><a href="">- Software Product Development</a></li>
                    <li><a href="">- Quality Assurance</a></li>
                    <li><a href="">- Legacy Software Migration</a></li>
                    <li><a href="">- DevOps Automation</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>SOLUTIONS</h5>
          
                <ul class="list-unstyled">
                    <li><a href="">DMS</a></li>
                    <li><a href="">SMS</a></li>
                    <li><a href="">CMS</a></li>
                    <li><a href="">IOT</a></li>
                    <li><a href="">Mobile</a></li>
                    <li><a href="">Web Applications</a></li>
                    <li><a href="">Cost Finder</a></li>
                    <li><a href="">Tracking</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="">- Career</a></li>
                    <li><a href="">- Affiliate Program</a></li>
                    <li><a href="">- About Us</a></li>
                    <li><a href="">- How we work</a></li>
                    <li><a href="">- Startups</a></li>
                    <li><a href="">- Resources</a></li>
                    <li><a href="">- Contact Us</a></li>
                   
                </ul>
            </div>
            
            <div class="col-md-2 col-lg-2 col-xl-2 ">
                <h5>INDUSTRY</h5>
        
                <ul class="list-unstyled">
                    <li><a href="">Education</a></li>
                    <li><a href="">Retail & Wholesale</a></li>
                    <li><a href="">Construction</a></li>
                    <li><a href="">Transpotation</a></li>
                </ul>
              </div>
        </div>
      </div>
        <!-- Footer Links -->
  
      <hr>
  
      <!-- Social buttons -->
      <div class="row">
          <div class="col-sm-6">
            <p class="edu">2019 : Edunomics</p>
          </div>
         <div class="col-sm-6">
                       <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="fb" mdbWavesEffect>
            <mdb-icon fab icon="facebook"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="tw" mdbWavesEffect>
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="gplus"  mdbWavesEffect>
            <mdb-icon fab fab icon="google-plus"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="li" mdbWavesEffect>
            <mdb-icon fab icon="linkedin"></mdb-icon>
          </a>
        </li>
      </ul>
    </div>

    </div>
  
      <!-- Social buttons -->
  
      <!-- Copyright -->
      <hr>
      <div class="navbar navbar-expand-md navbar-fixed-bottom">
              <ul class="navbar-nav ml-auto mt-2 mt-lg-0" >
          <li class="nav-item">
            <a class="nav-link" href="/about">Solution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Services</a>
          </li>
          <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" routerLink="/#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Company</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownId">
                      <a class="dropdown-item" routerLink="/blog">About Us</a>
                      <a class="dropdown-item" routerLink="/whitepaper">Our Team</a>
                  </div>
              </li>
           <li class="nav-item">
                  <a class="nav-link" href="/contact">Resources</a>
                </li>
                <li class="nav-item">
                      <a class="nav-link" href="/contact">Contact</a>
                    </li>
  
        </ul>
     
      </div>
      <!-- Copyright -->
   
</footer>
