.opaque-navbar{
    background-color: transparent;
    height: 60px;
    border-bottom:0px;
    transition: background-color .5s ease 0s;
  }
.nav-link:hover{
  color:green;
  font-weight: bold;
}


.opaque-navbar.opaque{
  background-color: #000;
  height: 60px;
    border-bottom:0px;
    transition: background-color .5s ease 0s;

}
