

.outline {
  border: 2px solid red;
  width: 25%;
}
.aaa {
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}
.ppp {
  font-size: 30px;
  font-weight: bold;
  font-family: arial;
}
