<section class="jumbotron text-center" style="margin-top: 35px;background-color: #005688;color: white">
  <div class="container">
      <h1 class="jumbotron-heading">Custom Software Development Services</h1>
   <hr class="outline">
  </div>
</section>

<!-- Services -->
<section class="pt-5 pb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="card-columns">
                    <div class="card  pb-4 ">
                        <div class="card-body text-center ">
                            <a href="#" class="twitter"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
                            <h5 class="pt-3">Website - APP</h5><br>
                            <p class="card-text">Thorough business research for Presnting a
                                best UI/UX designed Web-APP Enabling you grow well in your first step to digital
                                strategy.</p>
                        </div>
                    </div><br>

                    <div class="card ">
                        <div class="card-body text-center">
                            <a href="#" class="twitter "><i class="fa fa-magic fa-2x" aria-hidden="true"></i></a>
                            <h5 class="pt-3">Tech Solution</h5><br>
                            <p class="card-text">Every Industry needs a solution which fits
                                it best and where we enable you to digitise your process perfectly to either save
                                time or cost</p>
                        </div>
                    </div>
                    <div class="card ">
                        <div class="card-body text-center">
                            <a href="#" class="twitter"><i class="fa fa-book fa-2x" aria-hidden="true"></i></a>
                            <h5 class="pt-3">IOT & AI</h5><br>
                            <p class="card-text">You Operate a lots of resources, and they have data
                                with them lets capture them with best IOT solutioning and presenting it with a
                                capable dashboard.</p>
                        </div>
                    </div>
                    <div class="card ">
                        <div class="card-body text-center ">
                            <a href="#" class="twitter"><i class="fa fa-file-text fa-2x" aria-hidden="true"></i></a>
                            <h5 class="pt-3">Data Analytics</h5><br>
                            <p class="card-text">Big Data is no more a Jargon its a need of hour to
                                either enhance or optimise the process and presenting it beautifully</p>
                        </div>
                    </div>
                    <div class="card  pb-4">
                        <div class="card-body text-center ">
                            <a href="#" class="twitter"><i class="fa fa-line-chart fa-2x"
                                    aria-hidden="true"></i></a>
                            <h5 class="pt-3">Tech Strategy Consultation</h5><br>
                            <p class="card-text">Tech is our forte, we can present you a digital
                                roadmap to either develop suitable tech solutions or either adopt one</p>
                        </div>
                    </div>
                    <div class="card ">
                        <div class="card-body text-center">
                            <a href="#" class="twitter"><i class="fa fa-tasks fa-2x" aria-hidden="true"></i></a>
                            <h5 class="pt-3 ">Process Automation</h5><br>
                            <p class="card-text">Gain Agility, accuracy and speed with process automation
                                & best workflow management to enahance control too</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>

</section>
<div class="container text-center">
  <h1>Software Products Lifecycle</h1>
  <hr class="outline">

  <p>SumatoSoft will take you through every stage of the software development process – from a business analysis stage through UX/UI and application development to deployment and ongoing support.</p>
<img src="../../assets/image/SDLC-Software-Development-Life-Cycle-1.png" alt="">

</div>

<div class="text-center pt-5 pb-5">
      <button class="btn btn-outline-primary"><b>Our Development Process →</b></button>
</div>
<section class="jumbotron text-center" style="margin-top: 35px;background-color: #005688;color: white">
      <div class="container">
          <h1 class="jumbotron-heading">Our Approach</h1>

       <hr class="outline">
       <div class="row pt-4">
           <div class="col-sm-3">
                  <i class="far fa-eye fa-3x"></i>
               <p  class="pt-5" style="font-size: 20px">Control</p>
               <p>Full control and transparency of the development process based on Agile principles.</p>
           </div>
           <div class="col-sm-3">
                  <i class="far fa-gem  fa-3x"></i>
               <p  class="pt-5" style="font-size: 20px">Quality</p>
               <p>Professional QA procedures throughout the whole app development life cycle.</p>
           </div>
           <div class="col-sm-3">
                  <i class="fas fa-users  fa-3x"></i>
        <p  class="pt-5" style="font-size: 20px">Convenience</p>
        <p>We appreciate simplistic, but business-oriented approach in our communication with clients.</p>
           </div>
           <div class="col-sm-3">
                  <i class="fas fa-lightbulb  fa-3x"></i>
               <p  class="pt-5" style="font-size: 20px">Creativity</p>
               <p>Coming up with a new wrinkle on business problems and ways to solve them.</p>
           </div>
       </div>
      </div>
    </section>
   <!-- Footer -->
<!-- footer -->
<footer class="text-light">
    <div class="container">
        <div class="row vdivide">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>BLOGS</h5>
            
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p><br>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p>
           <hr class="mx-auto">
            <div class="row">
             
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Edunomics Tech Solution</h5>
            <p style="margin: 0%">contact@edunomics.in</p>
            </div>
            <hr>
            <div class="row">
            
            <p>BUSINESS HOURS <br>24*7</p>
            </div>
          </div>
          
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto">
                <h5>SERVICES</h5>
               
                <ul class="list-unstyled">
                    <li><a href="">- Custom Software Development</a></li>
                    <li><a href="">- Mobile Software Development</a></li>
                    <li><a href="">- Software Prototyping</a></li>
                    <li><a href="">- Dedicated Development Teams</a></li>
                    <li><a href="">- Software Maintenance Program</a></li>
                    <li><a href="">- Software Product Development</a></li>
                    <li><a href="">- Quality Assurance</a></li>
                    <li><a href="">- Legacy Software Migration</a></li>
                    <li><a href="">- DevOps Automation</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>SOLUTIONS</h5>
          
                <ul class="list-unstyled">
                    <li><a href="">DMS</a></li>
                    <li><a href="">SMS</a></li>
                    <li><a href="">CMS</a></li>
                    <li><a href="">IOT</a></li>
                    <li><a href="">Mobile</a></li>
                    <li><a href="">Web Applications</a></li>
                    <li><a href="">Cost Finder</a></li>
                    <li><a href="">Tracking</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="">- Career</a></li>
                    <li><a href="">- Affiliate Program</a></li>
                    <li><a href="">- About Us</a></li>
                    <li><a href="">- How we work</a></li>
                    <li><a href="">- Startups</a></li>
                    <li><a href="">- Resources</a></li>
                    <li><a href="">- Contact Us</a></li>
                   
                </ul>
            </div>
            
            <div class="col-md-2 col-lg-2 col-xl-2 ">
                <h5>INDUSTRY</h5>
        
                <ul class="list-unstyled">
                    <li><a href="">Education</a></li>
                    <li><a href="">Retail & Wholesale</a></li>
                    <li><a href="">Construction</a></li>
                    <li><a href="">Transpotation</a></li>
                </ul>
              </div>
        </div>
      </div>
        <!-- Footer Links -->
  
      <hr>
  
      <!-- Social buttons -->
      <div class="row">
          <div class="col-sm-6">
            <p class="edu">2019 : Edunomics</p>
          </div>
         <div class="col-sm-6">
                       <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="fb" mdbWavesEffect>
            <mdb-icon fab icon="facebook"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="tw" mdbWavesEffect>
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="gplus"  mdbWavesEffect>
            <mdb-icon fab fab icon="google-plus"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="li" mdbWavesEffect>
            <mdb-icon fab icon="linkedin"></mdb-icon>
          </a>
        </li>
      </ul>
    </div>

    </div>
  
      <!-- Social buttons -->
  
      <!-- Copyright -->
      <hr>
      <div class="navbar navbar-expand-md navbar-fixed-bottom">
              <ul class="navbar-nav ml-auto mt-2 mt-lg-0" >
          <li class="nav-item">
            <a class="nav-link" href="/about">Solution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Services</a>
          </li>
          <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" routerLink="/#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Company</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownId">
                      <a class="dropdown-item" routerLink="/blog">About Us</a>
                      <a class="dropdown-item" routerLink="/whitepaper">Our Team</a>
                  </div>
              </li>
           <li class="nav-item">
                  <a class="nav-link" href="/contact">Resources</a>
                </li>
                <li class="nav-item">
                      <a class="nav-link" href="/contact">Contact</a>
                    </li>
  
        </ul>
     
      </div>
      <!-- Copyright -->
   
</footer>
