<section class="jumbotron text-center" style="margin-top: 35px;background-color: #005688;color: white">
        <div class="container">
            <h1 class="jumbotron-heading">Custom Software Development Services</h1>
         <hr class="outline">
        </div>
      </section>
     
      <!-- Services -->
      <section class="pt-5 pb-5">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-10">
                      <div class="card-columns">
                          <div class="card  pb-4 ">
                              <div class="card-body text-center ">
                                  <a href="#" class="twitter"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
                                  <h5 class="pt-3">Website - APP</h5><br>
                                  <p class="card-text">Thorough business research for Presnting a
                                      best UI/UX designed Web-APP Enabling you grow well in your first step to digital
                                      strategy.</p>
                              </div>
                          </div><br>
      
                          <div class="card ">
                              <div class="card-body text-center">
                                  <a href="#" class="twitter "><i class="fa fa-magic fa-2x" aria-hidden="true"></i></a>
                                  <h5 class="pt-3">Tech Solution</h5><br>
                                  <p class="card-text">Every Industry needs a solution which fits
                                      it best and where we enable you to digitise your process perfectly to either save
                                      time or cost</p>
                              </div>
                          </div>
                          <div class="card ">
                              <div class="card-body text-center">
                                  <a href="#" class="twitter"><i class="fa fa-book fa-2x" aria-hidden="true"></i></a>
                                  <h5 class="pt-3">IOT & AI</h5><br>
                                  <p class="card-text">You Operate a lots of resources, and they have data
                                      with them lets capture them with best IOT solutioning and presenting it with a
                                      capable dashboard.</p>
                              </div>
                          </div>
                          <div class="card ">
                              <div class="card-body text-center ">
                                  <a href="#" class="twitter"><i class="fa fa-file-text fa-2x" aria-hidden="true"></i></a>
                                  <h5 class="pt-3">Data Analytics</h5><br>
                                  <p class="card-text">Big Data is no more a Jargon its a need of hour to
                                      either enhance or optimise the process and presenting it beautifully</p>
                              </div>
                          </div>
                          <div class="card  pb-4">
                              <div class="card-body text-center ">
                                  <a href="#" class="twitter"><i class="fa fa-line-chart fa-2x"
                                          aria-hidden="true"></i></a>
                                  <h5 class="pt-3">Tech Strategy Consultation</h5><br>
                                  <p class="card-text">Tech is our forte, we can present you a digital
                                      roadmap to either develop suitable tech solutions or either adopt one</p>
                              </div>
                          </div>
                          <div class="card ">
                              <div class="card-body text-center">
                                  <a href="#" class="twitter"><i class="fa fa-tasks fa-2x" aria-hidden="true"></i></a>
                                  <h5 class="pt-3 ">Process Automation</h5><br>
                                  <p class="card-text">Gain Agility, accuracy and speed with process automation
                                      & best workflow management to enahance control too</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-1"></div>
              </div>
          </div>
      
      </section>
    <div class="container text-center">
        <h1>Software Products Lifecycle</h1>
        <hr class="outline">
     
        <p>SumatoSoft will take you through every stage of the software development process – from a business analysis stage through UX/UI and application development to deployment and ongoing support.</p>
    <img src="../../assets/image/SDLC-Software-Development-Life-Cycle-1.png" alt="">
  
    </div>

    <div class="text-center pt-5 pb-5">
            <button class="btn btn-outline-primary"><b>Our Development Process →</b></button>
    </div>
    <section class="jumbotron text-center" style="margin-top: 35px;background-color: #005688;color: white">
            <div class="container">
                <h1 class="jumbotron-heading">Our Approach</h1>

             <hr class="outline">
             <div class="row pt-4">
                 <div class="col-sm-3">
                        <i class="far fa-eye fa-3x"></i>
                     <p  class="pt-5" style="font-size: 20px">Control</p>
                     <p>Full control and transparency of the development process based on Agile principles.</p>
                 </div>
                 <div class="col-sm-3">
                        <i class="far fa-gem  fa-3x"></i>
                     <p  class="pt-5" style="font-size: 20px">Quality</p>
                     <p>Professional QA procedures throughout the whole app development life cycle.</p>
                 </div>
                 <div class="col-sm-3">
                        <i class="fas fa-users  fa-3x"></i>
              <p  class="pt-5" style="font-size: 20px">Convenience</p>
              <p>We appreciate simplistic, but business-oriented approach in our communication with clients.</p>
                 </div>
                 <div class="col-sm-3">
                        <i class="fas fa-lightbulb  fa-3x"></i>
                     <p  class="pt-5" style="font-size: 20px">Creativity</p>
                     <p>Coming up with a new wrinkle on business problems and ways to solve them.</p>
                 </div>
             </div>
            </div>
          </section>
         <!-- Footer -->
  <footer class="page-footer font-small stylish-color-dark pt-4">
  
        <!-- Footer Links -->
        <div class="container text-center text-md-left">
    
          <!-- Grid row -->
          <div class="row">
    
            <!-- Grid column -->
            <div class="col-md-4 mx-auto">
    
              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Edunomics Tech Solution</h5>
              <p style="margin: 0%">USA:+1 (720)­­­ 207 0369</p>
              <p >UK:­+44 (0) 203 687 2280</p><br>
              <p style="margin: 0%">contact@iflexion.com</p><br>
              <p>3900 S. Wadsworth Blvd., Denver, <br>CO 80235</p>
            </div>
            <!-- Grid column -->
    
            <hr class="clearfix w-100 d-md-none">
    
            <!-- Grid column -->
            <div class="col-md-2 mx-auto">
    
              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Blogs</h5>
    
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p><br>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p>
    
    
            </div>
            <!-- Grid column -->
    
            <hr class="clearfix w-100 d-md-none">
    
            <!-- Grid column -->
            <div class="col-md-2 mx-auto">
    
              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Quick Links</h5>
    
              <ul class="list-unstyled">
                <li>
                  <a href="#!">Startups</a>
                </li>
                <li>
                  <a href="#!">Solution Services</a>
                </li>
                <li>
                  <a href="#!">Affiliate Programme</a>
                </li>
                <li>
                  <a href="#!">Career</a>
                </li>
                <li>
                    <a href="#!">Contact Us</a>
                  </li>
              </ul>
    
            </div>
            <!-- Grid column -->
    
            <hr class="clearfix w-100 d-md-none">
    
            <!-- Grid column -->
            <div class="col-md-2 mx-auto">
    
              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Support</h5>
    
              <ul class="list-unstyled">
                <li>
                  <a href="#!">FAQ</a>
                </li>
                <li>
                  <a href="#!">Terms & Condition</a>
                </li>
                <li>
                  <a href="#!">Privacy Policy</a>
                </li>
                <li>
                  <a href="#!">NDA</a>
                </li>
              </ul>
    
            </div>
            
             <div class="col-md-2 mx-auto">
    
              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About Us</h5>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, nesciunt aliquam aspernatur aut ea soluta harum doloremque eius 
                    dolorem, debitis, vel accusantium. Soluta, dicta voluptatum accusamus nisi odio mollitia perspiciatis.
                  </p>
             
    
            </div>
            <!-- Grid column -->
    
          </div>
          <!-- Grid row -->
    
        </div>
        <!-- Footer Links -->
    
        <hr>
    
        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2">
          <li class="list-inline-item">
            <h5 class="mb-1"><b>We're Hiring</b></h5>
          </li>
          <li class="list-inline-item">
            <a href="#!" mdbBtn color="danger" rounded="true" mdbWavesEffect>Submit Your Resume</a>
          </li>
        </ul>
        <!-- Call to action -->
    
        <hr>
    
        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a mdbBtn floating="true" color="fb" class="mx-1" mdbWavesEffect>
              <mdb-icon fab icon="facebook"></mdb-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a mdbBtn floating="true" color="tw" class="mx-1" mdbWavesEffect>
              <mdb-icon fab icon="twitter"></mdb-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a mdbBtn floating="true" color="gplus" class="mx-1" mdbWavesEffect>
              <mdb-icon fab fab icon="google-plus"></mdb-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a mdbBtn floating="true" color="li" class="mx-1" mdbWavesEffect>
              <mdb-icon fab icon="linkedin"></mdb-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a mdbBtn floating="true" color="dribbble" class="mx-1" mdbWavesEffect>
              <mdb-icon fab icon="dribbble"></mdb-icon>
            </a>
          </li>
        </ul>
        <!-- Social buttons -->
    
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    
      </footer>
      <!-- Footer -->
  
    