<section class="jumbotron text-center"  style="margin-top: 35px;background-color: #0054A5;color: white">
        <div class="container">
            <h1 class="jumbotron-heading">Career</h1>
            <hr class="outline">
        </div>
      </section>
      <div class="container">
        <p class="text-center" style="font-size: 35px">Careers at Freshworks</p>
        <hr class="w-25 mx-auto">
        <p class="text-center">At Freshworks, we pride ourselves on building powerful, sophisticated software that’s fun and easy to use. We believe that customers are the foundation of a successful business and we want to enable every team to deliver moments of wow to them.
        We are constantly on the lookout for smart people who are passionate about building great products, designing great experiences, building scalable platforms, and making customers happy. If this describes you, feel free to take a look at our openings below and apply!</p>
      </div>
         <div class="container-fluid">
            <img class="pb-5" src="../../assets/image/career page.jpg">
         </div>
         <div class="container text-center">
            <h1 class="jumbotron-heading text-center"><b>The Freshworks Culture</b></h1>
            <p  style="font-size: 20px"><b>What we believe in and what we stand for</b> </p>
          <div class="row pt-5">
              <div class="col-sm-4" >
                  <p style="font-size: 25px"><b>Happy “work” environment</b></p>
                  <p>The work we do doesn’t just pay the bills; it makes us happy. We choose career paths that play to our strengths and work together to make the office a collaborative, diverse environment.</p>
                </div>
                <div class="col-sm-4">
                  <p style="font-size: 25px"><b>Play as one team</b></p>
                  <p>We put Freshworks first, over the team and individual, and take efforts to build genuine relationships with our colleagues. Disagreements are welcome as they help us uncover our blind spots and learn from different perspectives.</p>
                </div>
                <div class="col-sm-4">
                  <p style="font-size: 25px"><b>Take ownership</b></p>
                  <p>Our projects are ours to own; success or failure, we own what we do and take responsibility for our actions. When frustrations arise, we flip the switch and focus on solving the problem instead.</p>
                </div>
          </div>
          <div class="row pt-5">
            <div class="col-sm-4">
              <p  style="font-size: 25px"><b>Practice craftsmanship</b></p>
              <p>We strive to be world-class in everything we do. That’s why we sweat the details till we ship stuff we’re proud to put our name on.

                </p>
            </div>
            <div class="col-sm-4">
                <p  style="font-size: 25px"><b>Take smart risks </b></p>
                <p> We pursue ideas that help us find newer, better and faster ways to work. Some of these ideas might fail and that’s OK. We learn from the failures and move on

                  </p>
            </div>
            <div class="col-sm-4">
                <p  style="font-size: 25px"><b>Act with urgency</b></p>
                <p>We’re focused on making quick decisions and executing fast. “How can this be done sooner?” is the mantra which we live by.</p>
            </div>
          </div>
          <div class="row pt-5 pb-5">
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
              <p  style="font-size: 25px"><b>Speak up</b></p>
              <p>We express our views in a open, proactive and respectful manner. There’s no room for silent disagreements here. We encourage healthy discussions and debates, and prefer to over-communicate rather than stay silent.</p>
          </div>
          <div class="col-sm-4">
              <p  style="font-size: 25px"><b>Be a customer champion</b></p>
              <p>We’re always working to deliver great experiences to our customers. To this end, we make it a point to connect with them, understand their requirements and challenges, and do what’s right for the customer and the company.</p>
          </div>
          <div class="col-sm-2"></div>

          </div>
        
         </div>


         <div class="container text-center pt-5 pb-5">
            <h1 class="jumbotron-heading text-center"><b>Opening For</b></h1>
          
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ExampleModal">
                Current Opening
              </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#basicExampleModal">
                  Internship
                </button>
        </div>
        <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="ExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="mobile no.">Mobile no.</label>
                  <input type="number" class="form-control" id="mobile no" aria-describedby="emailHelp" placeholder="Enter mobile no." required>
              </div>
              <div class="form-group">
                <label for="name">Experience</label>
                <input type="text" class="form-control" id="experience" placeholder="Experience" required>
              </div>
              <div class="form-group">
                <label for="name">Apply For Role</label>
                <input type="text" class="form-control" id="role" placeholder="Apply for role" required>
              </div>
            
               
                <div class="mx-auto">
                <button type="submit" class="btn btn-primary text-right">Submit</button></div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
      
   <!-- Modal internship -->
   <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
          <form>
              <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name" required>
              </div>
              <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="mobile no.">Mobile no.</label>
                <input type="number" class="form-control" id="mobile no" aria-describedby="emailHelp" placeholder="Enter mobile no." required>
            </div>
            <div class="form-group">
              <label for="name">Experience</label>
              <input type="text" class="form-control" id="experience" placeholder="Experience" required>
            </div>
            <div class="form-group">
              <label for="name">Apply For Role</label>
              <input type="text" class="form-control" id="role" placeholder="Apply for role" required>
            </div>
          
             
              <div class="mx-auto">
              <button type="submit" class="btn btn-primary text-right">Submit</button></div>
          </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary">Save changes</button>
       </div>
     </div>
   </div>
 </div>
      <!-- Footer -->
  <footer class="page-footer font-small stylish-color-dark pt-4">
  
      <!-- Footer Links -->
      <div class="container text-center text-md-left">
  
        <!-- Grid row -->
        <div class="row">
  
          <!-- Grid column -->
          <div class="col-md-4 mx-auto">
  
            <!-- Content -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Edunomics Tech Solution</h5>
            <p style="margin: 0%">USA:+1 (720)­­­ 207 0369</p>
            <p >UK:­+44 (0) 203 687 2280</p><br>
            <p style="margin: 0%">contact@iflexion.com</p><br>
            <p>3900 S. Wadsworth Blvd., Denver, <br>CO 80235</p>
          </div>
          <!-- Grid column -->
  
          <hr class="clearfix w-100 d-md-none">
  
          <!-- Grid column -->
          <div class="col-md-2 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Blogs</h5>
  
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p><br>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p>
  
  
          </div>
          <!-- Grid column -->
  
          <hr class="clearfix w-100 d-md-none">
  
          <!-- Grid column -->
          <div class="col-md-2 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Quick Links</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!">Startups</a>
              </li>
              <li>
                <a href="#!">Solution Services</a>
              </li>
              <li>
                <a href="#!">Affiliate Programme</a>
              </li>
              <li>
                <a href="#!">Career</a>
              </li>
              <li>
                  <a href="#!">Contact Us</a>
                </li>
            </ul>
  
          </div>
          <!-- Grid column -->
  
          <hr class="clearfix w-100 d-md-none">
  
          <!-- Grid column -->
          <div class="col-md-2 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Support</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!">FAQ</a>
              </li>
              <li>
                <a href="#!">Terms & Condition</a>
              </li>
              <li>
                <a href="#!">Privacy Policy</a>
              </li>
              <li>
                <a href="#!">NDA</a>
              </li>
            </ul>
  
          </div>
          
           <div class="col-md-2 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About Us</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, nesciunt aliquam aspernatur aut ea soluta harum doloremque eius 
                  dolorem, debitis, vel accusantium. Soluta, dicta voluptatum accusamus nisi odio mollitia perspiciatis.
                </p>
           
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
  
      </div>
      <!-- Footer Links -->
  
      <hr>
  
      <!-- Call to action -->
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1"><b>We're Hiring</b></h5>
        </li>
        <li class="list-inline-item">
          <a href="#!" mdbBtn color="danger" rounded="true" mdbWavesEffect>Submit Your Resume</a>
        </li>
      </ul>
      <!-- Call to action -->
  
      <hr>
  
      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="fb" class="mx-1" mdbWavesEffect>
            <mdb-icon fab icon="facebook"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="tw" class="mx-1" mdbWavesEffect>
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="gplus" class="mx-1" mdbWavesEffect>
            <mdb-icon fab fab icon="google-plus"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="li" class="mx-1" mdbWavesEffect>
            <mdb-icon fab icon="linkedin"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="dribbble" class="mx-1" mdbWavesEffect>
            <mdb-icon fab icon="dribbble"></mdb-icon>
          </a>
        </li>
      </ul>
      <!-- Social buttons -->
  
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
  
    </footer>
    <!-- Footer -->
