<section class="jumbotron text-center" style="margin-top: 35px;background-color: #005688;color: white">
    <div class="container">
        <h1 class="jumbotron-heading">Building Innovative Software Solutions for Business</h1>
     <hr class="outline">
    </div>
  </section>
 
  <!-- Services -->
  <section class="pt-5 pb-5">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10">
                  <div class="card-columns">
                      <div class="card  pb-4 ">
                          <div class="card-body text-center ">
                              <!-- <a href="#" class="twitter"><i class="fa fa-industry fa-4x" aria-hidden="true"></i></a> -->
                              <img src="https://uploads-ssl.webflow.com/5c98c492f5786d415aa3c82d/5d2f169e46b3c515785da4d7_Enterprise%20Applications_hover.svg" alt="application" class="smt-link-card__img">
                              <h5 class="pt-3">ENTERPRISE APPLICATION</h5><br>
                              <p class="card-text">Development of enterprise apps, including complex ERP, CRM, HRM, automated billing and payment system etc.</p>
                          </div>
                      </div><br>
  
                      <div class="card ">
                          <div class="card-body text-center">
                              <img src="https://uploads-ssl.webflow.com/5c98c492f5786d415aa3c82d/5d2f169e4904ea18166b7c75_Mobile%20Applications_hover.svg" alt="application" class="smt-link-card__img">
                              <h5 class="pt-3">MOBILE APPLICATIONS</h5><br>
                              <p class="card-text">Creating multifunctional and user-friendly iOS and Android appilcations to get the utmost from mobile world.</p>
                            
                          </div>
                      </div>
                      
                      
                      <div class="card ">
                          <div class="card-body text-center">
                              <img src="https://uploads-ssl.webflow.com/5c98c492f5786d415aa3c82d/5d2f16a05699e9ec34fe0f66_Startup%20solutions_hover.svg" alt="development" class="smt-link-card__img">
                              <h5 class="pt-3">MVPS FOR STARTUPS</h5><br>
                              <p class="card-text">Helping startups and small business to make prototypes and Minimum viable Product ready to enter the market</p>
                            
                          </div>
                      </div>
                      <div class="card ">
                          <div class="card-body text-center ">
                              
                              <img src="https://uploads-ssl.webflow.com/5c98c492f5786d415aa3c82d/5d2f169e4a77d850353caaef_Internet%20of%20Things_hover.svg" alt="mobile" class="smt-link-card__img">
                               <h5 class="pt-3">INTERNET OF THINGS</h5><br>
                              <p class="card-text">Building ioT applications for big data gathering, analyzing, and sharing. We make predictive decision-making possible</p>
                              
                          </div>
                      </div>
                      <div class="card  pb-4">
                          <div class="card-body text-center ">
                              <!-- <a href="#" class="twitter"><i class="fa fa-line-chart fa-2x" aria-hidden="true"></i></a> -->
                              <img src="https://uploads-ssl.webflow.com/5c98c492f5786d415aa3c82d/5d2f16a046b3c58b925da4d8_WEB%20APPS%20DEVELOPMENT_hover.svg" alt="mobile" class="smt-link-card__img">
                              <h5 class="pt-3">WEB APPS DEVELOPMENT</h5><br>
                              <p class="card-text">Creating scalable appilications for business in a variety of domains-eLearning and more.</p>
                          </div>
                      </div>
                      <div class="card ">
                          <div class="card-body text-center">
                              <!-- <a href="#" class="twitter"><i class="fa fa-tasks fa-2x" aria-hidden="true"></i></a> -->
                              <img src="https://uploads-ssl.webflow.com/5c98c492f5786d415aa3c82d/5d2f169f4904ea0c776b7c76_SaaS%20Development_hover.svg" alt="saas" class="smt-link-card__img">
                              <h5 class="pt-3 ">SAAS PRODUCT DEVELOPMENT</h5><br>
                              <p class="card-text">Designing custom SaaS products for companies,enabling them to shift activities to cloud, integrate, and reduce costs.</p>
                          </div>
                      </div>
                      
                          <div class="card">
                            <img src="https://uploads-ssl.webflow.com/5c98c492f5786d415aa3c82d/5d2c8d2a2be6ba93a2dad25c_CHATBOT%20DEVELOPMENT_hover.svg" alt="" class="smt-link-card__img">
                            <h5 class="pt-3 ">CHATBOT DEVELOPMENT</h5><br>
                              <p class="card-text">Planning and development of custom unique chatbots integrated with popular social messangers, Facebook, Slack, Skype.</p>
                          </div>
                        
                  </div>
              </div>
              <div class="col-sm-1"></div>
          </div>
      </div>
  </section>

  <section class="jumbotron text-center" style="margin-top: 35px;background-color: lightblue;color: black">
      <div class="login-container">
          <h2 class="jumbotron-heading">LET'S DISCUSS YOURPROJECT!</h2>
              <input type="text" placeholder="Name" name="Name">
              <input type="text" placeholder="Email" name="Email">
              <button type="submit">LET'S TALK</button>
          
              <form action="/action_page.php">
                
              </form>
            </div>
      
    </section><hr><br><br>

    <div clss="text-center">
        <h2>Latest Tech We Apply</h2>
        <hr class="outline">
    </div>

    <section class="pt-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="card-columns">
                        <div class="card  pb-4 ">
                            <div class="card-body text-center ">
                                <!-- <a href="#" class="twitter"><i class="fa fa-industry fa-4x" aria-hidden="true"></i></a> -->
                                <img src="https://uploads-ssl.webflow.com/5c98c492f5786d415aa3c82d/5d2f169c4a77d8a7913caaea_Artificial%20Intelligence_hover.svg" alt="application" class="smt-link-card__img">
                                <h5 class="pt-3">ARTIFICIAL INTELLIGENCE</h5><br>
                                <p class="card-text">Adding value by building reliable and top-tier Al-based solution for a variety of business domains: finance: healthcare, education.</p>
                            </div>
                        </div><br>
    
                        <div class="card ">
                            <div class="card-body text-center">
                                <img src="https://uploads-ssl.webflow.com/5c98c492f5786d415aa3c82d/5d2f169c46b3c513195da4d4_Blockchain_hover.svg" alt="application" class="smt-link-card__img">
                                <h5 class="pt-3">BLOCKCHAIN</h5><br>
                                <p class="card-text">Facilitating component from multiple industries to take full advantage of blockchain solutions. while supporting security.</p>
                              
                            </div>
                        </div>
                        
                        
                        <div class="card ">
                            <div class="card-body text-center">
                                <img src="https://uploads-ssl.webflow.com/5c98c492f5786d415aa3c82d/5d2f169c4a77d8c8723caaeb_Big%20Data%20_%20Data%20Science_hover.svg" alt="development" class="smt-link-card__img">
                                <h5 class="pt-3">BIG DATA & DATA SCIENCE</h5><br>
                                <p class="card-text">Developing big data solutions to enable businesses to gain insights from advanced data analyrics reach clarity and transparency.</p>
                              
                            </div>
                        </div>
                        <div class="card">
                            <img src="https://uploads-ssl.webflow.com/5c98c492f5786d415aa3c82d/5d2f169e5699e91e6afe0f62_Machine%20Learning_hover.svg" alt="" class="smt-link-card__img">
                            <h5 class="pt-3 ">MACHINE LEARNING</h5><br>
                              <p class="card-text">Integrating machine learning in custom software to enhance accurate forecasts and data-driven decisions.</p>
                          </div>
    </div>
    </div>
    </div>
    </div>
    <!-- footer -->
 <footer class="text-light">
        <div class="container">
            <div class="row vdivide">
                <div class="col-md-3 col-lg-4 col-xl-3">
                    <h5>BLOGS</h5>
                
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p><br>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p>
               <hr class="mx-auto">
                <div class="row">
                 
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Edunomics Tech Solution</h5>
                <p style="margin: 0%">contact@edunomics.in</p>
                </div>
                <hr>
                <div class="row">
                
                <p>BUSINESS HOURS <br>24*7</p>
                </div>
              </div>
              
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto">
                    <h5>SERVICES</h5>
                   
                    <ul class="list-unstyled">
                        <li><a href="">- Custom Software Development</a></li>
                        <li><a href="">- Mobile Software Development</a></li>
                        <li><a href="">- Software Prototyping</a></li>
                        <li><a href="">- Dedicated Development Teams</a></li>
                        <li><a href="">- Software Maintenance Program</a></li>
                        <li><a href="">- Software Product Development</a></li>
                        <li><a href="">- Quality Assurance</a></li>
                        <li><a href="">- Legacy Software Migration</a></li>
                        <li><a href="">- DevOps Automation</a></li>
                    </ul>
                </div>
    
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                    <h5>SOLUTIONS</h5>
              
                    <ul class="list-unstyled">
                        <li><a href="">DMS</a></li>
                        <li><a href="">SMS</a></li>
                        <li><a href="">CMS</a></li>
                        <li><a href="">IOT</a></li>
                        <li><a href="">Mobile</a></li>
                        <li><a href="">Web Applications</a></li>
                        <li><a href="">Cost Finder</a></li>
                        <li><a href="">Tracking</a></li>
                    </ul>
                </div>
    
                <div class="col-md-2 col-lg-2 col-xl-2">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="">- Career</a></li>
                        <li><a href="">- Affiliate Program</a></li>
                        <li><a href="">- About Us</a></li>
                        <li><a href="">- How we work</a></li>
                        <li><a href="">- Startups</a></li>
                        <li><a href="">- Resources</a></li>
                        <li><a href="">- Contact Us</a></li>
                       
                    </ul>
                </div>
                
                <div class="col-md-2 col-lg-2 col-xl-2 ">
                    <h5>INDUSTRY</h5>
            
                    <ul class="list-unstyled">
                        <li><a href="">Education</a></li>
                        <li><a href="">Retail & Wholesale</a></li>
                        <li><a href="">Construction</a></li>
                        <li><a href="">Transpotation</a></li>
                    </ul>
                  </div>
            </div>
          </div>
            <!-- Footer Links -->
      
          <hr>
      
          <!-- Social buttons -->
          <div class="row">
              <div class="col-sm-6">
                <p class="edu">2019 : Edunomics</p>
              </div>
             <div class="col-sm-6">
                           <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
              <a mdbBtn floating="true" color="fb" mdbWavesEffect>
                <mdb-icon fab icon="facebook"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" color="tw" mdbWavesEffect>
                <mdb-icon fab icon="twitter"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" color="gplus"  mdbWavesEffect>
                <mdb-icon fab fab icon="google-plus"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" color="li" mdbWavesEffect>
                <mdb-icon fab icon="linkedin"></mdb-icon>
              </a>
            </li>
          </ul>
        </div>
    
        </div>
      
          <!-- Social buttons -->
      
          <!-- Copyright -->
          <hr>
          <div class="navbar navbar-expand-md navbar-fixed-bottom">
                  <ul class="navbar-nav ml-auto mt-2 mt-lg-0" >
              <li class="nav-item">
                <a class="nav-link" href="/about">Solution</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Services</a>
              </li>
              <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" routerLink="/#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Company</a>
                      <div class="dropdown-menu" aria-labelledby="dropdownId">
                          <a class="dropdown-item" routerLink="/blog">About Us</a>
                          <a class="dropdown-item" routerLink="/whitepaper">Our Team</a>
                      </div>
                  </li>
               <li class="nav-item">
                      <a class="nav-link" href="/contact">Resources</a>
                    </li>
                    <li class="nav-item">
                          <a class="nav-link" href="/contact">Contact</a>
                        </li>
      
            </ul>
         
          </div>
          <!-- Copyright -->
       
    </footer>
    
    
    
