<section class="jumbotron text-center" style="margin-top: 35px;background-color: #005688;color: white">
        <div class="container">
            <h1 class="jumbotron-heading">Blog</h1>
          <hr class="outline">
        </div>
      </section>
     
      <!-- Blog -->
      <section>
          <section>
              <div class="container-fluid pt-5">
                  <div class="row">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-11">
                          <div class="row">
                              <div class="col-sm-3 pt-3 card bg-dark text-white">
                                  <h3 class="text-center pb-3">How is Blockchain different from Distributed Ledger
                                      Technology</h3>
                                  <img src="../../assets/image/What-is-the-difference-between-centralized-decentralized-distributed-network-system.png"
                                      class="img-fluid"
                                      alt="Difference between Centralized, Decentralized, Distributed Network System"><br>
      
                                  <p>Blockchain is being explored by a wider and wider audience every day,
                                      and traditional centralized bodies like banks and governments are beginning to take
                                      interest in what the tech can do for them But there's a new term that is beginning to come up more often in the cryptocurrency space:
                                      distributed ledger...<a href="blockchain.html">Read more</a>
                                  </p>
                              </div>&nbsp;&nbsp;
                              <div class="col-sm-3 bg-dark text-white pt-3 card">
                                  <h3 class="text-center ">Quantum Computing - A Threat to Blockchain Security?
                                  </h3>
                                  <img src="../../assets/image/Post-Quantum-Cryptography.png" class="img-fluid" alt="Post Quantum Cryptography"><br>
                                  <p>To start with, picture a spreadsheet that is reproduced thousands of times across
                                      a network of computers. Then imagine that this system is designed to frequently
                                      update
                                      this spreadsheet and it is a shared and continuously reconciled database. No centralized version of
                                      this information is present for a hacker...<a href="blockchain2.html">Read more</a>
                                  </p>
      
                              </div>
                              <div class="col-sm-3"></div>
                              <div class="col-sm-2 card">
                                  <div>&nbsp;
                                      <h2>Why India Need Bullet Train</h2>
                                      <img src="../../assets/image/bullettrain.jfif" alt="bullettrain" class="img-fluid">
                                      <p class="">Around and analyzing the major technological innovations where
                                          governments and private enterprises as well, are putting hundreds of billions of
                                          dollars,
                                          we could imply that a good number of such technological developments are related
                                          to
                                          the transportation sector</p>
                                  </div>
                              </div>
      
                          </div>
                          <hr>
                      </div>
                      <div class="col-sm-0"></div>
      
                  </div>
              </div>
          </section>
          <div class="container-fluid">
              <div class="row">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-10">
                      <div class="row">
                          <div class="col-sm-10"><br>
      
                              <h2>5 Famous Infrastructural projects Crawling In India</h2><br>
                              <div class="row">
                                  <div class="col-sm-8">
                                      <p>Indian architecture is as old as the history of civilization. Development of a
                                          country depends upon how much urbanised it is . There is no point of explaining
                                          that how much importance the construction of the eye catching building and
                                          structures hold in the economic strength of the country. It not only adds a
                                          little flare to the beauty of
                                          a place but also gives employment to those thousands of unemployed youth who
                                          were starving for a single meal. .....</p>
                                  </div>
                                  <div class="col-sm-4">
                                      <img src="../../assets/image/Infrastructural projects.jpg" alt="Infrastructural projects" class="img-fluid">
                                  </div>
      
                              </div>
                              <hr><br>
                              <h2>The Burj Khalifa Project</h2><br>
                              <div class="row">
                                  <div class="col-sm-4">
                                      <img src="../../assets/image/burjkhalifa.jpg" alt="Burjkhalifa image" class="img-fluid">
                                  </div>
                                  <div class="col-sm-8">
                                      <p>The Burj Dubai Project is a multi-use development tower with a total floor area
                                          of 460,000 square meters that includes
                                          residential, hotel, commercial, office, entertainment, shopping, leisure, and
                                          parking facilities</p>
                                  </div>
                              </div>
                              <hr><br>
                              <h2>No Delay</h2><br>
                              <div class="row">
                                  <div class="col-sm-8">
                                      <p>The construction industry is one of the main sectors that provide important
                                          ingredient for the development of an economy.
                                          However, many projects experience extensive delays and thereby exceed initial
                                          time and cost estimates.</p>
                                  </div>
                                  <div class="col-sm-4">
                                      <img src="../../assets/image/nodelay.jpg" alt="nodelay image" class="img-fluid">
                                  </div>
      
                              </div>
                              <hr>
                          </div>
                          <div class="col-sm-2">
                              <div><br>
                                  <h2 class="text-center">Smart City</h2><br>
                                  <img src="../../assets/image/smartcity.jpg" alt="Smartcity" class="img-fluid">
                                  <p class="pt-5">The term SMART CITY was coined towards the end of the 20th century. It
                                      is rooted in the implementation of user-friendly information and communication
                                      technologies developed by major
                                      industries for urban spaces. Its meaning has since been expanded to relate to the
                                      future of cities and their development.</p>
                              </div><br>
                              <hr>
      
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-1"></div>
              </div>
          </div>
      </section>
       <!-- Footer -->
  <footer class="page-footer font-small stylish-color-dark pt-4">
  
      <!-- Footer Links -->
      <div class="container text-center text-md-left">
  
        <!-- Grid row -->
        <div class="row">
  
          <!-- Grid column -->
          <div class="col-md-4 mx-auto">
  
            <!-- Content -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Edunomics Tech Solution</h5>
            <p style="margin: 0%">USA:+1 (720)­­­ 207 0369</p>
            <p >UK:­+44 (0) 203 687 2280</p><br>
            <p style="margin: 0%">contact@iflexion.com</p><br>
            <p>3900 S. Wadsworth Blvd., Denver, <br>CO 80235</p>
          </div>
          <!-- Grid column -->
  
          <hr class="clearfix w-100 d-md-none">
  
          <!-- Grid column -->
          <div class="col-md-2 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Blogs</h5>
  
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p><br>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p>
  
  
          </div>
          <!-- Grid column -->
  
          <hr class="clearfix w-100 d-md-none">
  
          <!-- Grid column -->
          <div class="col-md-2 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Quick Links</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!">Startups</a>
              </li>
              <li>
                <a href="#!">Solution Services</a>
              </li>
              <li>
                <a href="#!">Affiliate Programme</a>
              </li>
              <li>
                <a href="#!">Career</a>
              </li>
              <li>
                  <a href="#!">Contact Us</a>
                </li>
            </ul>
  
          </div>
          <!-- Grid column -->
  
          <hr class="clearfix w-100 d-md-none">
  
          <!-- Grid column -->
          <div class="col-md-2 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Support</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!">FAQ</a>
              </li>
              <li>
                <a href="#!">Terms & Condition</a>
              </li>
              <li>
                <a href="#!">Privacy Policy</a>
              </li>
              <li>
                <a href="#!">NDA</a>
              </li>
            </ul>
  
          </div>
          
           <div class="col-md-2 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About Us</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, nesciunt aliquam aspernatur aut ea soluta harum doloremque eius 
                  dolorem, debitis, vel accusantium. Soluta, dicta voluptatum accusamus nisi odio mollitia perspiciatis.
                </p>
           
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
  
      </div>
      <!-- Footer Links -->
  
      <hr>
  
      <!-- Call to action -->
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1"><b>We're Hiring</b></h5>
        </li>
        <li class="list-inline-item">
          <a href="#!" mdbBtn color="danger" rounded="true" mdbWavesEffect>Submit Your Resume</a>
        </li>
      </ul>
      <!-- Call to action -->
  
      <hr>
  
      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="fb" class="mx-1" mdbWavesEffect>
            <mdb-icon fab icon="facebook"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="tw" class="mx-1" mdbWavesEffect>
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="gplus" class="mx-1" mdbWavesEffect>
            <mdb-icon fab fab icon="google-plus"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="li" class="mx-1" mdbWavesEffect>
            <mdb-icon fab icon="linkedin"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="dribbble" class="mx-1" mdbWavesEffect>
            <mdb-icon fab icon="dribbble"></mdb-icon>
          </a>
        </li>
      </ul>
      <!-- Social buttons -->
  
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
  
    </footer>
    <!-- Footer -->
