<section
  class="jumbotron text-center"
  style="margin-top: 35px;background-image:url('../../assets/image/18.png'); background-repeat:no-repeat;background-size: 100%;;color: white"
>
  <div class="container">
    <h1 class="jumbotron-heading">Blog</h1>
    <hr class="outline" />
  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <!-- Card -->
        <div class="card card-cascade wider reverse">
          <!-- Card image -->
          <div class="view view-cascade overlay">
            <img
              class="card-img-top"
              src="../../assets/image/14.jpg"
              alt="Card image cap"
            />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">
            <!-- Title -->
            <h4 class="card-title"><strong>My adventure</strong></h4>
            <!-- Subtitle -->
            <h6 class="font-weight-bold indigo-text py-2">Photography</h6>
            <!-- Text -->
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Exercitationem perspiciatis voluptatum a, quo nobis, non commodi
              quia repellendus sequi nulla voluptatem dicta reprehenderit,
              placeat laborum ut beatae ullam suscipit veniam.
            </p>
          </div>
        </div>
        <!-- Card -->
      </div>

      <div class="col-sm-6">
        <div class="row mb-5">
          <div class="col-sm-6">
            <mdb-card>
              <!--Card image-->
              <mdb-card-img
                src="../../assets/image/10.jpg"
                alt="Card image cap"
              ></mdb-card-img>
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4>Card Title</h4>
                </mdb-card-title>

                <!--Text-->
                <mdb-card-text>
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </mdb-card-text>
              </mdb-card-body>
            </mdb-card>
          </div>
          <div class="col-sm-6">
            <mdb-card>
              <!--Card image-->
              <mdb-card-img
                src="../../assets/image/11.jpg"
                alt="Card image cap"
              ></mdb-card-img>
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4>Card Title</h4>
                </mdb-card-title>

                <!--Text-->
                <mdb-card-text>
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </mdb-card-text>
              </mdb-card-body>
            </mdb-card>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-sm-6">
            <mdb-card>
              <!--Card image-->
              <mdb-card-img
                src="../../assets/image/12.jpg"
                alt="Card image cap"
              ></mdb-card-img>
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4>Card Title</h4>
                </mdb-card-title>

                <!--Text-->
                <mdb-card-text>
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </mdb-card-text>
              </mdb-card-body>
            </mdb-card>
          </div>
          <div class="col-sm-6 ">
            <mdb-card>
              <!--Card image-->
              <mdb-card-img
                src="../../assets/image/13.jpg"
                alt="Card image cap"
              ></mdb-card-img>
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4>Card Title</h4>
                </mdb-card-title>

                <!--Text-->
                <mdb-card-text>
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </mdb-card-text>
              </mdb-card-body>
            </mdb-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- footer -->
<footer class="text-light">
    <div class="container">
        <div class="row vdivide">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>BLOGS</h5>
            
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p><br>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p>
           <hr class="mx-auto">
            <div class="row">
             
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Edunomics Tech Solution</h5>
            <p style="margin: 0%">contact@edunomics.in</p>
            </div>
            <hr>
            <div class="row">
            
            <p>BUSINESS HOURS <br>24*7</p>
            </div>
          </div>
          
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto">
                <h5>SERVICES</h5>
               
                <ul class="list-unstyled">
                    <li><a href="">- Custom Software Development</a></li>
                    <li><a href="">- Mobile Software Development</a></li>
                    <li><a href="">- Software Prototyping</a></li>
                    <li><a href="">- Dedicated Development Teams</a></li>
                    <li><a href="">- Software Maintenance Program</a></li>
                    <li><a href="">- Software Product Development</a></li>
                    <li><a href="">- Quality Assurance</a></li>
                    <li><a href="">- Legacy Software Migration</a></li>
                    <li><a href="">- DevOps Automation</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>SOLUTIONS</h5>
          
                <ul class="list-unstyled">
                    <li><a href="">DMS</a></li>
                    <li><a href="">SMS</a></li>
                    <li><a href="">CMS</a></li>
                    <li><a href="">IOT</a></li>
                    <li><a href="">Mobile</a></li>
                    <li><a href="">Web Applications</a></li>
                    <li><a href="">Cost Finder</a></li>
                    <li><a href="">Tracking</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="">- Career</a></li>
                    <li><a href="">- Affiliate Program</a></li>
                    <li><a href="">- About Us</a></li>
                    <li><a href="">- How we work</a></li>
                    <li><a href="">- Startups</a></li>
                    <li><a href="">- Resources</a></li>
                    <li><a href="">- Contact Us</a></li>
                   
                </ul>
            </div>
            
            <div class="col-md-2 col-lg-2 col-xl-2 ">
                <h5>INDUSTRY</h5>
        
                <ul class="list-unstyled">
                    <li><a href="">Education</a></li>
                    <li><a href="">Retail & Wholesale</a></li>
                    <li><a href="">Construction</a></li>
                    <li><a href="">Transpotation</a></li>
                </ul>
              </div>
        </div>
      </div>
        <!-- Footer Links -->
  
      <hr>
  
      <!-- Social buttons -->
      <div class="row">
          <div class="col-sm-6">
            <p class="edu">2019 : Edunomics</p>
          </div>
         <div class="col-sm-6">
                       <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="fb" mdbWavesEffect>
            <mdb-icon fab icon="facebook"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="tw" mdbWavesEffect>
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="gplus"  mdbWavesEffect>
            <mdb-icon fab fab icon="google-plus"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="li" mdbWavesEffect>
            <mdb-icon fab icon="linkedin"></mdb-icon>
          </a>
        </li>
      </ul>
    </div>

    </div>
  
      <!-- Social buttons -->
  
      <!-- Copyright -->
      <hr>
      <div class="navbar navbar-expand-md navbar-fixed-bottom">
              <ul class="navbar-nav ml-auto mt-2 mt-lg-0" >
          <li class="nav-item">
            <a class="nav-link" href="/about">Solution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Services</a>
          </li>
          <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" routerLink="/#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Company</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownId">
                      <a class="dropdown-item" routerLink="/blog">About Us</a>
                      <a class="dropdown-item" routerLink="/whitepaper">Our Team</a>
                  </div>
              </li>
           <li class="nav-item">
                  <a class="nav-link" href="/contact">Resources</a>
                </li>
                <li class="nav-item">
                      <a class="nav-link" href="/contact">Contact</a>
                    </li>
  
        </ul>
     
      </div>
      <!-- Copyright -->
   
</footer>
