<hr><br><br><br>

<div class="text-center">
        <h2>Team</h2>
        <p>An organziation is made by it's team</p>
        <p>meet ome of the rockstar working across various parts of group-who have truly made this one of the most exciting places to work and create a differnce</p>
        </div>
        <div class="row mb-5 ml-5 mr-5">
                <div class="column">
                  <div class="card">
                      <img src="../../assets/image/Team pics/Anshi.jpg" alt="">
                  </div>
                </div>
              
                <div class="column">
                  <div class="card">
                    <img src="../../assets/image/Team pics/Harikesh.JPG" alt="">
                  
                  </div>
                </div>
                
                <div class="column">
                  <div class="card">
                    <img src="../../assets/image/Team pics/Kiran.jpg" alt="">
                  </div>
                </div>
                
                <div class="column">
                  <div class="card">
                    <img src="../../assets/image/Team pics/Ankita.jpg" alt="">
                  </div>
                </div>
        </div>

            <div class="row mb-5 ml-5 mr-5">
                <div class="column">
                        <div class="card">
                          <img src="../../assets/image/Team pics/Sumit.jpg" alt="">
                        </div>
                      </div>
                    
                      <div class="column">
                        <div class="card">
                          <img src="../../assets/image/Team pics/Priyank.jpg" alt="">
                        </div>
                      </div>
                      
                      <div class="column">
                        <div class="card">
                          <img src="../../assets/image/Team pics/Meenaz.jpg" alt="">
                        </div>
                      </div>
                      
                      <div class="column">
                        <div class="card">
                          <img src="../../assets/image/Team pics/Payal.jpg" alt="">
                        </div>
                      </div>
            </div>

                 <div class="row mb-5 ml-5 mr-5">
                      <div class="column">
                            <div class="card">
                              <img src="../../assets/image/Team pics/omkar.jpg" alt="">
                            </div>
                          </div>
                        
                          <div class="column">
                            <div class="card">
                              <img src="../../assets/image/Team pics/ritesh.jpg" alt="">
                            </div>
                          </div>
                          
                          <div class="column">
                            <div class="card">
                              <img src="../../assets/image/Team pics/simpi.jpg" alt="">
                            </div>
                          </div>
                          
                          <div class="column">
                            <div class="card">
                              <img src="../../assets/image/Team pics/sonal.png" alt="">
                            </div>
                          </div>
                 </div>

                 <div class="row mb-5 ml-5 mr-5">
                          <div class="column">
                                <div class="card">
                                  <img src="../../assets/image/Team pics/ravi.jpg" alt="">
                                </div>
                              </div>
                            
                              
                     </div>
            
              

        
<!-- footer -->
<footer class="text-light">
    <div class="container">
        <div class="row vdivide">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>BLOGS</h5>
            
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p><br>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p>
           <hr class="mx-auto">
            <div class="row">
             
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Edunomics Tech Solution</h5>
            <p style="margin: 0%">contact@edunomics.in</p>
            </div>
            <hr>
            <div class="row">
            
            <p>BUSINESS HOURS <br>24*7</p>
            </div>
          </div>
          
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto">
                <h5>SERVICES</h5>
               
                <ul class="list-unstyled">
                    <li><a href="">- Custom Software Development</a></li>
                    <li><a href="">- Mobile Software Development</a></li>
                    <li><a href="">- Software Prototyping</a></li>
                    <li><a href="">- Dedicated Development Teams</a></li>
                    <li><a href="">- Software Maintenance Program</a></li>
                    <li><a href="">- Software Product Development</a></li>
                    <li><a href="">- Quality Assurance</a></li>
                    <li><a href="">- Legacy Software Migration</a></li>
                    <li><a href="">- DevOps Automation</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>SOLUTIONS</h5>
          
                <ul class="list-unstyled">
                    <li><a href="">DMS</a></li>
                    <li><a href="">SMS</a></li>
                    <li><a href="">CMS</a></li>
                    <li><a href="">IOT</a></li>
                    <li><a href="">Mobile</a></li>
                    <li><a href="">Web Applications</a></li>
                    <li><a href="">Cost Finder</a></li>
                    <li><a href="">Tracking</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="">- Career</a></li>
                    <li><a href="">- Affiliate Program</a></li>
                    <li><a href="">- About Us</a></li>
                    <li><a href="">- How we work</a></li>
                    <li><a href="">- Startups</a></li>
                    <li><a href="">- Resources</a></li>
                    <li><a href="">- Contact Us</a></li>
                   
                </ul>
            </div>
            
            <div class="col-md-2 col-lg-2 col-xl-2 ">
                <h5>INDUSTRY</h5>
        
                <ul class="list-unstyled">
                    <li><a href="">Education</a></li>
                    <li><a href="">Retail & Wholesale</a></li>
                    <li><a href="">Construction</a></li>
                    <li><a href="">Transpotation</a></li>
                </ul>
              </div>
        </div>
      </div>
        <!-- Footer Links -->
  
      <hr>
  
      <!-- Social buttons -->
      <div class="row">
          <div class="col-sm-6">
            <p class="edu">2019 : Edunomics</p>
          </div>
         <div class="col-sm-6">
                       <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="fb" mdbWavesEffect>
            <mdb-icon fab icon="facebook"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="tw" mdbWavesEffect>
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="gplus"  mdbWavesEffect>
            <mdb-icon fab fab icon="google-plus"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="li" mdbWavesEffect>
            <mdb-icon fab icon="linkedin"></mdb-icon>
          </a>
        </li>
      </ul>
    </div>

    </div>
  
      <!-- Social buttons -->
  
      <!-- Copyright -->
      <hr>
      <div class="navbar navbar-expand-md navbar-fixed-bottom">
              <ul class="navbar-nav ml-auto mt-2 mt-lg-0" >
          <li class="nav-item">
            <a class="nav-link" href="/about">Solution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Services</a>
          </li>
          <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" routerLink="/#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Company</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownId">
                      <a class="dropdown-item" routerLink="/blog">About Us</a>
                      <a class="dropdown-item" routerLink="/whitepaper">Our Team</a>
                  </div>
              </li>
           <li class="nav-item">
                  <a class="nav-link" href="/contact">Resources</a>
                </li>
                <li class="nav-item">
                      <a class="nav-link" href="/contact">Contact</a>
                    </li>
  
        </ul>
     
      </div>
      <!-- Copyright -->
   
</footer>
