<!-- //corousel/ -->
<mdb-carousel class="carousel slide carousel-fade "  style="padding-top:50px;">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100 imageresponsive" src="../../assets/image/carousel1.jpg" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption "  style="margin-bottom: 300px;margin-right: 550px">
        <h2 class="h3-responsive"><b>Custom Software Development</b></h2>
     
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100 imageresponsive" src="../../assets/image/carousel2.jpg" alt="Second slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption"  style="margin-bottom: 300px;margin-right: 600px">
        <h3 class="h3-responsive"><b>Latest Technologies</b></h3>
    
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100 imageresponsive" src="../../assets/image/carousel3.jpg" alt="Third slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption"  style="margin-bottom: 300px;margin-right: 600px">
        <h2 class="h3-responsive"><b>Customized Approaches?</b></h2>
  
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
<!-- //carousel end/ -->
<!-- //Custom thing we do// -->
 <div class="container-fluid text-center">
   <!--Section heading-->
 <h3 class="h1 py-3 mt-5 font-weight-bold">Custom Things We Do</h3>
 <!--Section description-->
 <p class="px-5 mb-5 pb-3 grey-text">Since 2012 SumatoSoft has become a reliable tech partner to more than 100 companies from 20+ countries of the world.
    Our team focuses on the partners’ business needs, assigns experienced in-house teams, ensures clear and transparent workflows, and uses different 
    agile approaches for continuous value delivery.</p>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
            <img src="https://uploads-ssl.webflow.com/5c98c492f5786d415aa3c82d/5d1df706bb9c4fc01fb24489_1_hover.svg" alt="" class="smt-section-develop__direction-img-hover lazy solution-svg" >
            <h4 class="pt-3"><b>Enterprise Applications</b></h4>
            <p>Development of enterprise apps, including robust ERP, CRM, HRM, automated billing and payment systems.</p>
          </div>
        <div class="col-sm-3">
            <img src="https://uploads-ssl.webflow.com/5c98c492f5786d415aa3c82d/5d24601370f3345c20a426cb_2_hover.svg" alt="" class="smt-section-develop__direction-img-hover solution-svg lazy">
            <h4 class="pt-3"><b>Starup Solutions</b></h4>
            <p>Helping startups and small business to make Minimum Viable Products ready to enter the market.</p>
          </div>
        <div class="col-sm-3">
            <img src="https://uploads-ssl.webflow.com/5c98c492f5786d415aa3c82d/5d2c8d2bb4a76dea69338c9e_Internet%20of%20Things_hover.svg" alt="" class="smt-section-develop__direction-img-hover solution-svg lazy">
            <h4 class="pt-3"><b>Internet Of Things</b></h4>
            <p>Development of highly efficient web and mobile applications for IoT to make the world interconnected.</p>
          </div>
        <div class="col-sm-3">
            <img src="https://uploads-ssl.webflow.com/5c98c492f5786d415aa3c82d/5d2460ec70f33448dea428eb_6_hover.svg" alt="" class="smt-section-develop__direction-img-hover solution-svg lazy">
            <h4 class="pt-3"><b>Mobile Applications</b></h4>
            <p>Creating multifunctional and user-friendly mobile applications to get the utmost from mobile world.</p>
          </div>
      </div>
      <div class="row pt-5">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <img src="https://uploads-ssl.webflow.com/5c98c492f5786d415aa3c82d/5d2461312758ae49262fdc11_9_hover.svg" alt="" class="smt-section-develop__direction-img-hover solution-svg lazy" >
            <h4 class="pt-3"><b>SaaS Development</b></h4>
            <p>Designing complex scalable SaaS products with 3rd party services integration and custom analytic solutions.</p>
          </div>
       
        <div class="col-sm-4">
            <img src="https://uploads-ssl.webflow.com/5c98c492f5786d415aa3c82d/5d3b12ad4e11721ed4d73841_10_hover.svg" alt="" class="smt-section-develop__direction-img-hover solution-svg lazy" >
            <h4 class="pt-3"><b>B2B & B2C E-Commerce</b></h4>
            <p>Functional e-Commerce solutions (online stores, auctions, marketplaces, etc.) for B2B and B2C sectors.</p>
          </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
 </div>


<!-- //our services -->
<div class="container">
  <!--Section: Features v.2-->
<section class="text-center">

    <!--Section heading-->
    <h2 class="h1 py-5 font-weight-bold">Our Expertise</h2>
    <!--Section description-->
   
  
    <!--Grid row-->
    <div class="row text-left">
  
      <!--Grid column-->
      <div class="col-md-4 mb-4">
        <div class="col-1 col-md-2 float-left">
          <mdb-icon fas icon="bullhorn" size="2x" class="blue-text"></mdb-icon>
        </div>
        <div class="col-10 col-md-9 col-lg-10 float-right">
          <h4 class="font-weight-bold">Software Development</h4>
          <p class="grey-text">OpenXcell’s software development services give you everything you need to maximize productivity and stay ahead. Get more done with the best experience delivered by our services.</p>
          <a mdbBtn color="primary" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
        </div>
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-md-4 mb-4">
        <div class="col-1 col-md-2 float-left">
          <mdb-icon fas icon="cogs" size="2x" class="pink-text"></mdb-icon>
        </div>
        <div class="col-10 col-md-9 col-lg-10 float-right">
          <h4 class="font-weight-bold">Mobile App Development </h4>
          <p class="grey-text">Mobile apps represent the power and life of any business. OpenXcell’s iOS app development and Android app development services focus on working the way your business works.</p>
          <a mdbBtn color="pink" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
        </div>
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-md-4 mb-4">
        <div class="col-1 col-md-2 float-left">
          <mdb-icon fas icon="tachometer-alt" size="2x" class="purple-text"></mdb-icon>
        </div>
        <div class="col-10 col-md-9 col-lg-10 float-right">
          <h4 class="font-weight-bold">Blockchain Development</h4>
          <p class="grey-text">Blockchain-driven digital experience is prominent. More businesses are embracing this technology. OpenXcell demonstrates a stronghold in the Blockchain services..</p>
          <a mdbBtn color="secondary" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
        </div>
      </div>
      <!--Grid column-->
  
    </div>
    <!--Grid row-->
    <div class="row text-left">
  
        <!--Grid column-->
        <div class="col-md-4 mb-4">
          <div class="col-1 col-md-2 float-left">
            <mdb-icon fas icon="bullhorn" size="2x" class="blue-text"></mdb-icon>
          </div>
          <div class="col-10 col-md-9 col-lg-10 float-right">
            <h4 class="font-weight-bold">Web and eCommerce</h4>
            <p class="grey-text">Blockchain-driven digital experience is prominent. More businesses are embracing this technology. OpenXcell demonstrates a stronghold in the Blockchain services.</p>
            <a mdbBtn color="primary" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
          </div>
        </div>
        <!--Grid column-->
    
        <!--Grid column-->
        <div class="col-md-4 mb-4">
          <div class="col-1 col-md-2 float-left">
            <mdb-icon fas icon="cogs" size="2x" class="pink-text"></mdb-icon>
          </div>
          <div class="col-10 col-md-9 col-lg-10 float-right">
            <h4 class="font-weight-bold">DevOps as a Service</h4>
            <p class="grey-text">DevOps yield much greater benefits. Leverage OpenXcell’s DevOps as a Service to understand risks, predict future system bottlenecks and plan the cloud infrastructure efficiently. </p>
            <a mdbBtn color="pink" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
          </div>
        </div>
        <!--Grid column-->
    
        <!--Grid column-->
        <div class="col-md-4 mb-4">
          <div class="col-1 col-md-2 float-left">
            <mdb-icon fas icon="tachometer-alt" size="2x" class="purple-text"></mdb-icon>
          </div>
          <div class="col-10 col-md-9 col-lg-10 float-right">
            <h4 class="font-weight-bold">Testing and QA Services</h4>
            <p class="grey-text">Testing and quality assurance are crucial to business success. OpenXcell’s comprehensive set of testing practice is built on its bold thought-leadership and vast expertise.</p>
            <a mdbBtn color="secondary" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
          </div>
        </div>
        <!--Grid column-->
    
      </div>
  </section>
  <!--Section: Features v.2-->
</div>


<!-- //client -->
   <div class="container-fluid text-center">
      <h2 class="h1 py-5 font-weight-bold ">Our Startup Partners</h2>
      

   </div>
  
  
   <div class="customer-logos">
      
    <div class="slide"><img src="../../assets/image/20-20.png"></div>
      <div class="slide"><img src="../../assets/image/5 elements.jpg"></div>
      <div class="slide"><img src="../../assets/image/eqip.png"></div>
      <div class="slide"><img src="../../assets/image/rcd.png"></div>
      <div class="slide"><img src="../../assets/image/packmegood.jpeg"></div>
   
  </div>
  <!-- //end client/ -->

  <!-- //testimonial/ -->
  <!-- <div class="container"> -->
    <!-- Section: Testimonials v.3 -->
<!-- <section class="team-section text-center my-5"> -->

    <!-- Section heading -->
    <!-- <h2 class="h1-responsive font-weight-bold my-5">Testimonials</h2> -->
    <!-- Section description -->
    <!-- <p class="dark-grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Fugit,
      error amet numquam iure provident voluptate esse quasi,
      veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.</p> -->
  
    <!--Grid row-->
    <!-- <div class="row text-center"> -->
  
      <!--Grid column-->
      <!-- <div class="col-md-4 mb-md-0 mb-5">
   -->
        <!-- <div class="testimonial"> -->
          <!--Avatar-->
          <!-- <div class="avatar mx-auto">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="rounded-circle z-depth-1 img-fluid">
          </div> -->
          <!--Content-->
          <!-- <h4 class="font-weight-bold dark-grey-text mt-4">Anna Deynah</h4>
          <h6 class="font-weight-bold blue-text my-3">Web Designer</h6>
          <p class="font-weight-normal dark-grey-text">
            <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
            eos id
            officiis hic tenetur quae quaerat
            ad velit ab hic tenetur.</p> -->
          <!--Review-->
          <!-- <div class="orange-text">
            <mdb-icon fas icon="star"> </mdb-icon>
            <mdb-icon fas icon="star"> </mdb-icon>
            <mdb-icon fas icon="star"> </mdb-icon>
            <mdb-icon fas icon="star"> </mdb-icon>
            <mdb-icon fas icon="star-half"> </mdb-icon>
          </div>
        </div> -->
<!--   
      </div> -->
      <!--Grid column-->
  
      <!--Grid column-->
      <!-- <div class="col-md-4 mb-md-0 mb-5">
  
        <div class="testimonial"> -->
          <!--Avatar-->
          <!-- <div class="avatar mx-auto">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="rounded-circle z-depth-1 img-fluid">
          </div> -->
          <!--Content-->
          <!-- <h4 class="font-weight-bold dark-grey-text mt-4">John Doe</h4>
          <h6 class="font-weight-bold blue-text my-3">Web Developer</h6>
          <p class="font-weight-normal dark-grey-text">
            <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Ut enim ad minima veniam, quis nostrum exercitationem ullam
            corporis
            suscipit laboriosam, nisi ut
            aliquid commodi.
          </p> -->
          <!--Review-->
          <!-- <div class="orange-text">
            <mdb-icon fas icon="star"> </mdb-icon>
            <mdb-icon fas icon="star"> </mdb-icon>
            <mdb-icon fas icon="star"> </mdb-icon>
            <mdb-icon fas icon="star"> </mdb-icon>
            <mdb-icon fas icon="star"> </mdb-icon>
          </div>
        </div>
  
      </div> -->
      <!--Grid column-->
  
      <!--Grid column-->
      <!-- <div class="col-md-4">
  
        <div class="testimonial"> -->
          <!--Avatar-->
          <!-- <div class="avatar mx-auto">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle z-depth-1 img-fluid">
          </div> -->
          <!--Content-->
          <!-- <h4 class="font-weight-bold dark-grey-text mt-4">Maria Kate</h4>
          <h6 class="font-weight-bold blue-text my-3">Photographer</h6>
          <p class="font-weight-normal dark-grey-text">
            <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum
            deleniti atque corrupti.</p> -->
          <!--Review-->
          <!-- <div class="orange-text">
            <mdb-icon fas icon="star"> </mdb-icon>
            <mdb-icon fas icon="star"> </mdb-icon>
            <mdb-icon fas icon="star"> </mdb-icon>
            <mdb-icon fas icon="star"> </mdb-icon>
            <mdb-icon fas icon="star"> </mdb-icon>
          </div>
        </div>
  
      </div> -->
      <!--Grid column-->
  
    <!-- </div> -->
    <!--Grid row-->
  
  <!-- </section> -->
  <!-- Section: Testimonials v.3 -->
  <!-- </div> -->
  
<!-- //parlax image for capability// -->
<div class="parallax mask rgba-black-strong waves-light" mdbWavesEffect>
  <div class="container-fluid">
      <div class="container-fluid text-center" style="color: white">
          <h2 class="h1 py-5 font-weight-bold ">Services</h2>
            <p class="pb-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
              dolorum. Praesentium fugit facere voluptates sed dolorum<br> deleniti nulla reiciendis nisi quos reprehenderit! Ipsa.</p>
      
       </div>
    <div class="row">
      <div class="col-sm-3">
        <img src="../../assets/image/custom web developer.png">
        <figcaption style="color: white;font-size:25px" ><b>custom web developer</b></figcaption>
      </div>
      <div class="col-sm-3">
        <img src="../../assets/image/ecommerce.png">
        <figcaption style="color: white;font-size:25px;text-align: center" ><b>E-Commerce</b></figcaption>
      </div>
      <div class="col-sm-3">
        <img src="../../assets/image/mobile.png">
        <figcaption style="color: white;font-size:25px;text-align: center" ><b>Mobile</b></figcaption>
      </div>
      <div class="col-sm-3">
        <img src="../../assets/image/big data.png">
        <figcaption style="color: white;font-size:25px;text-align: center" ><b>Big Data</b></figcaption>
      </div>
    </div>
  </div>
</div>
<!-- //paralaax end// -->

  <!-- //technologies we use// -->
  <div class="container-fluid text-center">
    <h2 class="h1 py-5 font-weight-bold ">Technologies we use</h2>
      <p class="pb-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        dolorum. Praesentium fugit facere voluptates sed dolorum<br> deleniti nulla reiciendis nisi quos reprehenderit! Ipsa.</p>

 </div>
 <div class="container">
   <div class="row">
     <div class="col-lg-3 col-sm-3 pr-5" >
       <img  src="../../assets/image/python.png">
     </div>
     <div class="col-sm-3">
      <img class="imm" src="../../assets/image/node.png">
    </div> 
    <div class="col-sm-3">
      <img class="im" src="../../assets/image/html5.png">
    </div>
    <div class="col-sm-3">
      <img class="im1" src="../../assets/image/css3.png">
    </div>
   </div><br>
   <div class="row pb-5">
    <div class="col-sm-3">
      <img src="../../assets/image/react native.png">
    </div>
    <div class="col-sm-3">
     <img  class="imm" src="../../assets/image/react.png">
   </div>
   <div class="col-sm-3">
     <img  class="im" src="../../assets/image/mysql.png">
   </div>
   <div class="col-sm-3">
     <img class="im1" src="../../assets/image/net.png">
   </div>
  </div>
 </div>






   <!-- Footer -->
   <footer class="page-footer font-small stylish-color-dark pt-4">
  
      <!-- Footer Links -->
      <div class="container text-center text-md-left">
  
        <!-- Grid row -->
        <div class="row">
  
          <!-- Grid column -->
          <div class="col-md-4 mx-auto">
  
            <!-- Content -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Edunomics Tech Solution</h5>
            <p style="margin: 0%">USA:+1 (720)­­­ 207 0369</p>
            <p >UK:­+44 (0) 203 687 2280</p><br>
            <p style="margin: 0%">contact@iflexion.com</p><br>
            <p>3900 S. Wadsworth Blvd., Denver, <br>CO 80235</p>
          </div>
          <!-- Grid column -->
  
          <hr class="clearfix w-100 d-md-none">
  
          <!-- Grid column -->
          <div class="col-md-2 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Blogs</h5>
  
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p><br>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p>
  
  
          </div>
          <!-- Grid column -->
  
          <hr class="clearfix w-100 d-md-none">
  
          <!-- Grid column -->
          <div class="col-md-2 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Quick Links</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!">Startups</a>
              </li>
              <li>
                <a href="#!">Solution Services</a>
              </li>
              <li>
                <a href="#!">Affiliate Programme</a>
              </li>
              <li>
                <a href="#!">Career</a>
              </li>
              <li>
                  <a href="#!">Contact Us</a>
                </li>
            </ul>
  
          </div>
          <!-- Grid column -->
  
          <hr class="clearfix w-100 d-md-none">
  
          <!-- Grid column -->
          <div class="col-md-2 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Support</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!">FAQ</a>
              </li>
              <li>
                <a href="#!">Terms & Condition</a>
              </li>
              <li>
                <a href="#!">Privacy Policy</a>
              </li>
              <li>
                <a href="#!">NDA</a>
              </li>
            </ul>
  
          </div>
          
           <div class="col-md-2 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About Us</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, nesciunt aliquam aspernatur aut ea soluta harum doloremque eius 
                  dolorem, debitis, vel accusantium. Soluta, dicta voluptatum accusamus nisi odio mollitia perspiciatis.
                </p>
           
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
  
      </div>
      <!-- Footer Links -->
  
      <hr>
  
      <!-- Call to action -->
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1"><b>We're Hiring</b></h5>
        </li>
        <li class="list-inline-item">
          <a href="#!" mdbBtn color="danger" rounded="true" mdbWavesEffect>Submit Your Resume</a>
        </li>
      </ul>
      <!-- Call to action -->
  
      <hr>
  
      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="fb" class="mx-1" mdbWavesEffect>
            <mdb-icon fab icon="facebook"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="tw" class="mx-1" mdbWavesEffect>
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="gplus" class="mx-1" mdbWavesEffect>
            <mdb-icon fab fab icon="google-plus"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="li" class="mx-1" mdbWavesEffect>
            <mdb-icon fab icon="linkedin"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="dribbble" class="mx-1" mdbWavesEffect>
            <mdb-icon fab icon="dribbble"></mdb-icon>
          </a>
        </li>
      </ul>
      <!-- Social buttons -->
  
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
  
    </footer>
    <!-- Footer -->
