<section class="jumbotron text-center" style="margin-top: 35px;background-color: #E9EFFD">
        <div class="container">
            <h1 class="jumbotron-heading">Freshworks Affiliate Program</h1>
            <p class="lead text-muted mb-0">Join the leading SaaS affiliate program to earn $5 for every lead you bring in and  15% every sale</p>
        <div class="pt-4">
                <button class="btn btn-outline-primary">BECOME AN AFFILIATE</button>
        </div>
        </div>
      </section>
      <div class="container text-center">
          <h1 class="pt-5"> 
                Why should you join the Freshworks Affiliate program?
          </h1>
          <p class="pt-5" style="font-size: 20px">
               <b> Freshworks Affiliate Program is a leading B2B affiliate program which will help you earn a passive income by

                    promoting one of the fastest growing companies worldwide. </b>
          </p>
          <img src="../../assets/image/affiliate.png" alt="">
          <!-- Section: Team v.2 -->
<section class="team-section text-center my-5">

      
        <!-- Grid row -->
        <div class="row text-center pt-4">
      
          <!-- Grid column -->
          <div class="col-md-4 mb-md-0 mb-5 ">
                <i class="fas fa-piggy-bank fa-3x"></i>
                <p class="pt-4" style="font-size: 20px"><b>Easy money</b></p>
                <p>Every time you bring in a lead who is happy to sign a contract with us, we are twice as happy to share a part of the deal value with you. You get paid $5 every time you bring in a lead and 15% of the deal value when the lead becomes a paying customer. </p>
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col-md-4 mb-md-0 mb-5">
                <i class="fas fa-credit-card fa-3x"></i>
          <p class="pt-4" style="font-size: 20px"><b>On-time Payment</b></p>
          <p>It cannot get sweeter than this. You just take care of spreading the word about Freshworks and leave the rest to us. We will ensure you are paid on-time for your efforts and in your local currency, for your convenience.</p>
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col-md-4">
                <i class="fas fa-volume-up fa-3x"></i>
           <p class="pt-4" style="font-size: 20px"><b>Promoting made easy</b></p>
           <p>Promoting the products has never been easier. All you need to do from your end is let the world know about our amazing products and share a referral link with them. We will provide all the support you need, to be successful, from our end.</p>
          </div>
          <!-- Grid column -->
      
        </div>
        <!-- Grid row -->
      
      </section>
      <!-- Section: Team v.2 -->
      </div>
      <div class="jumbotron text-center" style="margin-top: 35px;background-color: #E9EFFD">
        <h2>How to become a part of Freshworks Affiliate Program</h2>
        <section class="team-section text-center my-5">

      
                <!-- Grid row -->
                <div class="row text-center pt-4">
              
                  <!-- Grid column -->
                  <div class="col-md-4 mb-md-0 mb-5 ">
                     <p style="font-size: 20px"><b>Step 1:</b></p>
                     <p  style="font-size: 20px"> <b>Signup for the program</b></p>
                  </div>
                  <!-- Grid column -->
              
                  <!-- Grid column -->
                  <div class="col-md-4 mb-md-0 mb-5">
                      <p style="font-size: 20px"><b>Step 2:</b></p>
                      <p  style="font-size: 20px"><b>Share your unique link</b></p>
                  </div>
                  <!-- Grid column -->
              
                  <!-- Grid column -->
                  <div class="col-md-4">
                       <p style="font-size: 20px"><b>Step 3:</b></p>
                       <p  style="font-size: 20px"><b>Sit back and watch money pour into your account</b></p>
                  </div>
                
                  <!-- Grid column -->
              
                </div>
                <!-- Grid row -->
              
              </section>
              
              <button class="btn btn-outline-primary">BECOME AN AFFILIATE</button>
        
              <!-- Section: Team v.2 -->
              </div>
                <!-- Footer -->
  <footer class="page-footer font-small stylish-color-dark pt-4">
  
        <!-- Footer Links -->
        <div class="container text-center text-md-left">
    
          <!-- Grid row -->
          <div class="row">
    
            <!-- Grid column -->
            <div class="col-md-4 mx-auto">
    
              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Edunomics Tech Solution</h5>
              <p style="margin: 0%">USA:+1 (720)­­­ 207 0369</p>
              <p >UK:­+44 (0) 203 687 2280</p><br>
              <p style="margin: 0%">contact@iflexion.com</p><br>
              <p>3900 S. Wadsworth Blvd., Denver, <br>CO 80235</p>
            </div>
            <!-- Grid column -->
    
            <hr class="clearfix w-100 d-md-none">
    
            <!-- Grid column -->
            <div class="col-md-2 mx-auto">
    
              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Blogs</h5>
    
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p><br>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p>
    
    
            </div>
            <!-- Grid column -->
    
            <hr class="clearfix w-100 d-md-none">
    
            <!-- Grid column -->
            <div class="col-md-2 mx-auto">
    
              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Quick Links</h5>
    
              <ul class="list-unstyled">
                <li>
                  <a href="#!">Startups</a>
                </li>
                <li>
                  <a href="#!">Solution Services</a>
                </li>
                <li>
                  <a href="#!">Affiliate Programme</a>
                </li>
                <li>
                  <a href="#!">Career</a>
                </li>
                <li>
                    <a href="#!">Contact Us</a>
                  </li>
              </ul>
    
            </div>
            <!-- Grid column -->
    
            <hr class="clearfix w-100 d-md-none">
    
            <!-- Grid column -->
            <div class="col-md-2 mx-auto">
    
              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Support</h5>
    
              <ul class="list-unstyled">
                <li>
                  <a href="#!">FAQ</a>
                </li>
                <li>
                  <a href="#!">Terms & Condition</a>
                </li>
                <li>
                  <a href="#!">Privacy Policy</a>
                </li>
                <li>
                  <a href="#!">NDA</a>
                </li>
              </ul>
    
            </div>
            
             <div class="col-md-2 mx-auto">
    
              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About Us</h5>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, nesciunt aliquam aspernatur aut ea soluta harum doloremque eius 
                    dolorem, debitis, vel accusantium. Soluta, dicta voluptatum accusamus nisi odio mollitia perspiciatis.
                  </p>
             
    
            </div>
            <!-- Grid column -->
    
          </div>
          <!-- Grid row -->
    
        </div>
        <!-- Footer Links -->
    
        <hr>
    
        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2">
          <li class="list-inline-item">
            <h5 class="mb-1"><b>We're Hiring</b></h5>
          </li>
          <li class="list-inline-item">
            <a href="#!" mdbBtn color="danger" rounded="true" mdbWavesEffect>Submit Your Resume</a>
          </li>
        </ul>
        <!-- Call to action -->
    
        <hr>
    
        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a mdbBtn floating="true" color="fb" class="mx-1" mdbWavesEffect>
              <mdb-icon fab icon="facebook"></mdb-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a mdbBtn floating="true" color="tw" class="mx-1" mdbWavesEffect>
              <mdb-icon fab icon="twitter"></mdb-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a mdbBtn floating="true" color="gplus" class="mx-1" mdbWavesEffect>
              <mdb-icon fab fab icon="google-plus"></mdb-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a mdbBtn floating="true" color="li" class="mx-1" mdbWavesEffect>
              <mdb-icon fab icon="linkedin"></mdb-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a mdbBtn floating="true" color="dribbble" class="mx-1" mdbWavesEffect>
              <mdb-icon fab icon="dribbble"></mdb-icon>
            </a>
          </li>
        </ul>
        <!-- Social buttons -->
    
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    
      </footer>
      <!-- Footer -->
  
    